<style>
@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,500,700&display=swap');
.hidden {
  display: none !important;}
  .centrado{
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  }

  .centrado-abajo{
  position: absolute;
  top: 90%; 
  width: 80%;
  }
  .qts{
    display: block;
    width: 100%;
    font-family: inherit;
    color: rgb(255, 255, 255);
    -webkit-appearance: none;
    transform: translateZ(0px);
    font-size: 18px;
    line-height: 38px;
    -webkit-font-smoothing: antialiased;
    padding: 0px 0px 8px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    border-radius: 0px;
    transition: box-shadow 0.2s ease 0s;
    background: none;
  }
  select {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4c2f48;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #43a2d2;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  select:hover {
  background-color: dodgerblue;
  }
  .no-focus-outline button:focus {
    outline: none;
  }
  

  .boton3 {
  color: #254064 !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: rgba(0,0,0,0);
  border: 2px solid;
  border-radius: 50px;
  border-color: #254064;
  transition: all 1s ease;
  position: relative;
  }
  .boton3:hover {
  background: #254064;
  color: #fff !important;
  }
  .boton1 {
    cursor: pointer;
  transition: all 1s ease;
  }
  .boton1:hover {
  color: white !important;
  }
  

.inputGroup {
  background-color: transparent;
  display: block;
  margin: 10px 0;
  position: relative;
  width: 80%
}
.inputGroup label {
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  color: #3C454C;
  font-family: 'Heebo';
  border: 1px solid #43a2d2;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
}
.inputGroup label:before {
  width: 100%;
  height: 10px;
  border-radius: 50%;
  content: '';
  background-color: #254064;
  position: absolute;
  -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
          transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}
.inputGroup label:after {
  width: 32px;
  height: 32px;
  content: '';
  border: 1px solid #254064;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
  color: #fff;
}
.inputGroup input:checked ~ label:before {
  -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
          transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}
.inputGroup input:checked ~ label:after {
  background-color: #43a2d2;
  border-color: #43a2d2;
}
.inputGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

  .form {
  padding: 0 16px;
  margin: 50px auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  }

  body {
    display: table;
    width: 100%;
    height: 100%;
    padding: 50px 0;
    color: #4c2f48;
    background: url('/assets/grayscale/form_quipu.png') no-repeat center center fixed;
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
  }

  code {
    background-color: #9AA3AC;
    padding: 0 8px;
  }
</style>

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://kit.fontawesome.com/1f7411956b.js"></script>


<%= form_with(model: cultura, local: true) do |f| %>
  <% if cultura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cultura.errors.count, "error") %> prohibited this cultura from being saved:</h2>

      <ul>
      <% cultura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container" style="text-align: center; max-width: 1400px;">

<div class="centrado" style="width: 90%; text-align: center; position: absolute;" id="div_p0">
  <h2 style="font-family: 'Heebo', sans-serif; color: #254064;">Digitar nueva encuesta de Cultura</h2>
  <button type="button" class="boton3" style="" id="but_res_p0">
    <i class="fas fa-check-circle" id="but_p0"></i>
    Empieza!
  </button>
</div>

<script type="text/javascript">
  $('form').on('keypress', e => {
    if (e.keyCode == 13) {
        return false;
    }
  });
  var input = document.getElementById("but_res_p0");
      input.addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("but_res_p0").click();
      }
    });
  document.getElementById("but_res_p0").addEventListener("click", fun_p0);
  function fun_p0() {
      $('#div_p0').slideUp();
      $('#div_p0').addClass('hidden');
      $('#div_pa').slideDown();
      $('#div_pa').removeClass('hidden');
      $('#pregunta_pa_footer').removeClass('hidden');
      $('#div_error_pa').addClass('hidden');
      document.getElementById("res_pa").focus();
  }

</script>

<div class="centrado hidden" style="width: 90%" id="div_pa">
  <h2 style="font-family: 'Heebo', sans-serif; color: #254064;">Numero del Formulario</h2>
  <br>
  <div class="field qts">

    <%= f.text_field :pa, {type: "Numero", class: "", autocomplete: "off" , style: "background-color: transparent;height: 50px;border-left: 0px;border-right: 0px;border-top: 0px; display: block;width: 100%;font-family: inherit; color: gray;-webkit-appearance: none;transform: translateZ(0px);font-size: 18px;line-height: 38px;-webkit-font-smoothing: antialiased;border-width: initial;border-color: #254064;border-image: initial;outline: none;box-shadow: none;background: none;", id:"res_pa", placeholder: "No. Formulario"}%> 

  </div>
  <div class="hidden" style="color: #254064;" id="div_error_pa"><strong>Por favor, escribe sin signos</strong></div>
  <button type="button" class="boton3 hidden" id="but_res_pa">
    <i class="fas fa-check-circle"></i>
    OK
  </button>
  <p  class="hidden" style="color: #254064;" id="p_pa">presiona <strong>ENTER</strong></p>
</div>  
<div class="container hidden" id="pregunta_pa_footer">
  <div class="centrado-abajo">
    <div class="row">
      <div class="col-md-8">
        <span style="color: #254064;">0 de 138 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 0%; background-color: #254064;"></div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_pb_pa_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_p0_pa_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
    </div>
  </div> 
</div>

<script type="text/javascript">
  var input = document.getElementById("res_pa");
      input.addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("but_res_pa").click();
      }
    });

  document.getElementById("pregunta_p0_pa_boton").addEventListener("click", fun_pa_dev);
  function fun_pa_dev() {
      $('#div_p0').slideDown();
      $('#div_p0').removeClass('hidden');
      $('#pregunta_p0_footer').removeClass('hidden');
      $('#div_pa').slideUp();
      $('#div_pa').addClass('hidden');
      $('#pregunta_pa_footer').addClass('hidden');
      $('#div_error_pa').addClass('hidden');
  }

  document.getElementById("pregunta_pb_pa_boton").addEventListener("click", fun_pa);
  document.getElementById("but_res_pa").addEventListener("click", fun_pa);
    function fun_pa() {
    var frase = document.getElementById("res_pa").value; 
      frase = frase.replace("#"," ");
      frase = frase.replace("%"," ");
      frase = frase.replace("&"," ");
      frase = frase.replace("$"," ");
      frase = frase.replace("  "," ");
      document.getElementById("res_pa").value = frase;
    if (document.getElementById("res_pa").value == "") {
      $('#but_res_pa').addClass('hidden');
      $('#p_pa').addClass('hidden');
      $('#div_error_pa').removeClass('hidden');
    } else {
      $('#div_pa').slideUp();
      $('#div_pa').addClass('hidden');
      $('#pregunta_pa_footer').addClass('hidden');
      $('#div_pb').slideDown();
      $('#div_pb').removeClass('hidden');
      $('#pregunta_pb_footer').removeClass('hidden');
      $('#div_error_pb').addClass('hidden');
      document.getElementById("res_pb").focus();
    }
  }

  $(document).ready(function(){ 

    $('#res_pa').on('input', function() { 
      var frase = document.getElementById("res_pa").value; 
      frase = frase.replace("#"," ");
      frase = frase.replace("%"," ");
      frase = frase.replace("&"," ");
      frase = frase.replace("$"," ");
      document.getElementById("res_pa").value = frase;
      if (document.getElementById("res_pa").value == "") {
      $('#but_res_pa').addClass('hidden');
      $('#p_pa').addClass('hidden');
      $('#div_error_pa').removeClass('hidden');
      } else {
       $('#but_res_pa').removeClass('hidden');
       $('#p_pa').removeClass('hidden');
       $('#div_error_pa').addClass('hidden');
      }
    }); 
  }); 
</script>

<div class="centrado hidden" style="width: 90%" id="div_pb">
  <h2 style="font-family: 'Heebo', sans-serif; color: #254064;">Entrevistador(a)</h2>
  <br>
  <div class="field qts">

    <%= f.text_field :pb, {class: "", autocomplete: "off" , style: "background-color: transparent;height: 50px;border-left: 0px;border-right: 0px;border-top: 0px; display: block;width: 100%;font-family: inherit; color: gray;-webkit-appearance: none;transform: translateZ(0px);font-size: 18px;line-height: 38px;-webkit-font-smoothing: antialiased;border-width: initial;border-color: #254064;border-image: initial;outline: none;box-shadow: none;background: none;", id:"res_pb", placeholder: "Entrevistador(a)"}%> 

  </div>
  <div class="hidden" style="color: #254064;" id="div_error_pb"><strong>Por favor, escribe sin signos</strong></div>
  <button type="button" class="boton3 hidden" id="but_res_pb">
    <i class="fas fa-check-circle"></i>
    OK
  </button>
  <p  class="hidden" style="color: #254064;" id="p_pb">presiona <strong>ENTER</strong></p>
</div>  
<div class="container hidden" id="pregunta_pb_footer">
  <div class="centrado-abajo">
    <div class="row">
      <div class="col-md-8">
        <span style="color: #254064;">0 de 138 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 0%; background-color: #254064;"></div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_pc_pb_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_pa_pb_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
    </div>
  </div> 
</div>

<script type="text/javascript">
  var input = document.getElementById("res_pb");
      input.addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("but_res_pb").click();
      }
    });

  document.getElementById("pregunta_pa_pb_boton").addEventListener("click", fun_pb_dev);
  function fun_pb_dev() {
      $('#div_pa').slideDown();
      $('#div_pa').removeClass('hidden');
      $('#pregunta_pa_footer').removeClass('hidden');
      $('#div_pb').slideUp();
      $('#div_pb').addClass('hidden');
      $('#pregunta_pb_footer').addClass('hidden');
      $('#div_error_pb').addClass('hidden');
  }

  document.getElementById("pregunta_pc_pb_boton").addEventListener("click", fun_pb);
  document.getElementById("but_res_pb").addEventListener("click", fun_pb);
    function fun_pb() {
    var frase = document.getElementById("res_pb").value; 
      frase = frase.replace("#"," ");
      frase = frase.replace("%"," ");
      frase = frase.replace("&"," ");
      frase = frase.replace("$"," ");
      frase = frase.replace("  "," ");
      document.getElementById("res_pb").value = frase;
    if (document.getElementById("res_pb").value == "") {
      $('#but_res_pb').addClass('hidden');
      $('#p_pb').addClass('hidden');
      $('#div_error_pb').removeClass('hidden');
    } else {
      $('#div_pb').slideUp();
      $('#div_pb').addClass('hidden');
      $('#pregunta_pb_footer').addClass('hidden');
      $('#div_pc').slideDown();
      $('#div_pc').removeClass('hidden');
      $('#pregunta_pc_footer').removeClass('hidden');
      $('#div_error_pc').addClass('hidden');
      document.getElementById("res_pc").focus();
    }
  }

  $(document).ready(function(){ 

    $('#res_pb').on('input', function() { 
      var frase = document.getElementById("res_pb").value; 
      frase = frase.replace("#"," ");
      frase = frase.replace("%"," ");
      frase = frase.replace("&"," ");
      frase = frase.replace("$"," ");
      document.getElementById("res_pb").value = frase;
      if (document.getElementById("res_pb").value == "") {
      $('#but_res_pb').addClass('hidden');
      $('#p_pb').addClass('hidden');
      $('#div_error_pb').removeClass('hidden');
      } else {
       $('#but_res_pb').removeClass('hidden');
       $('#p_pb').removeClass('hidden');
       $('#div_error_pb').addClass('hidden');
      }
    }); 
  }); 
</script>

<div class="centrado hidden" style="width: 90%;" id="div_pc">
  <h2 style="font-family: 'Heebo', sans-serif; color: #254064;"></h2>
  <br>
  <div class="field qts">
    <h4 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left;">Supervisor(a)</h4>
    <%= f.text_field :supervisor, {class: "", autocomplete: "off" , style: "background-color: transparent;height: 50px;border-left: 0px;border-right: 0px;border-top: 0px; display: block;width: 100%;font-family: inherit; color: gray;-webkit-appearance: none;transform: translateZ(0px);font-size: 18px;line-height: 38px;-webkit-font-smoothing: antialiased;border-width: initial;border-color: #254064;border-image: initial;outline: none;box-shadow: none;background: none;", id:"res_supervisor", placeholder: "Supervisor(a)"}%>
    <br>
    <h4 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left;">Crítico(a)</h4>
    <%= f.text_field :critico, {class: "", autocomplete: "off" , style: "background-color: transparent;height: 50px;border-left: 0px;border-right: 0px;border-top: 0px; display: block;width: 100%;font-family: inherit; color: gray;-webkit-appearance: none;transform: translateZ(0px);font-size: 18px;line-height: 38px;-webkit-font-smoothing: antialiased;border-width: initial;border-color: #254064;border-image: initial;outline: none;box-shadow: none;background: none;", id:"res_critico", placeholder: "Crítico(a)"}%>
    <br>
    <h4 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left;">Digitador(a)</h4>
    <%= f.text_field :digitador, {class: "", autocomplete: "off" , style: "background-color: transparent;height: 50px;border-left: 0px;border-right: 0px;border-top: 0px; display: block;width: 100%;font-family: inherit; color: gray;-webkit-appearance: none;transform: translateZ(0px);font-size: 18px;line-height: 38px;-webkit-font-smoothing: antialiased;border-width: initial;border-color: #254064;border-image: initial;outline: none;box-shadow: none;background: none;", id:"res_digitador", placeholder: "Digitador(a)"}%>

  </div>
  <div class="hidden" style="color: #254064;" id="div_error_pc"><strong>Por favor, diligencie todos los campos</strong></div>
  <button type="button" class="boton3 hidden" id="but_res_pc">
    <i class="fas fa-check-circle"></i>
    OK
  </button>
  <p  class="hidden" style="color: #254064;" id="p_pc">presiona <strong>ENTER</strong></p>
</div>  
<div class="container hidden" id="pregunta_pc_footer">
  <div class="centrado-abajo">
    <div class="row">
      <div class="col-md-8">
        <span style="color: #254064;">0 de 138 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 0%; background-color: #254064;"></div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_pd_pc_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_pb_pc_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
    </div>
  </div> 
</div>

<script type="text/javascript">
  var input = document.getElementById("res_supervisor");
      input.addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("res_critico").focus();
      }
    });

  var input1 = document.getElementById("res_critico");
      input1.addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("res_digitador").focus();
      }
    });

  var input2 = document.getElementById("res_digitador");
      input2.addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("but_res_pc").click();
      }
    });

  document.getElementById("pregunta_pb_pc_boton").addEventListener("click", fun_pc_dev);
  function fun_pc_dev() {
      $('#div_pb').slideDown();
      $('#div_pb').removeClass('hidden');
      $('#pregunta_pb_footer').removeClass('hidden');
      $('#div_pc').slideUp();
      $('#div_pc').addClass('hidden');
      $('#pregunta_pc_footer').addClass('hidden');
      $('#div_error_pc').addClass('hidden');
  }

  document.getElementById("pregunta_pd_pc_boton").addEventListener("click", fun_pc);
  document.getElementById("but_res_pc").addEventListener("click", fun_pc);
    function fun_pc() {
    var frase = document.getElementById("res_supervisor").value; 
      frase = frase.replace("#"," ");
      frase = frase.replace("%"," ");
      frase = frase.replace("&"," ");
      frase = frase.replace("$"," ");
      frase = frase.replace("  "," ");
      document.getElementById("res_supervisor").value = frase;
    var frase1 = document.getElementById("res_critico").value; 
      frase1 = frase1.replace("#"," ");
      frase1 = frase1.replace("%"," ");
      frase1 = frase1.replace("&"," ");
      frase1 = frase1.replace("$"," ");
      frase1 = frase1.replace("  "," ");
      document.getElementById("res_critico").value = frase1;
    var frase2 = document.getElementById("res_digitador").value; 
      frase2 = frase2.replace("#"," ");
      frase2 = frase2.replace("%"," ");
      frase2 = frase2.replace("&"," ");
      frase2 = frase2.replace("$"," ");
      frase2 = frase2.replace("  "," ");
      document.getElementById("res_digitador").value = frase2;
    if (document.getElementById("res_supervisor").value == "" || document.getElementById("res_critico").value == "" ||document.getElementById("res_digitador").value == "") {
      $('#but_res_pc').addClass('hidden');
      $('#p_pc').addClass('hidden');
      $('#div_error_pc').removeClass('hidden');
    } else {
      $('#div_pc').slideUp();
      $('#div_pc').addClass('hidden');
      $('#pregunta_pc_footer').addClass('hidden');
      $('#div_pd').slideDown();
      $('#div_pd').removeClass('hidden');
      $('#pregunta_pd_footer').removeClass('hidden');
    }
  }

  $(document).ready(function(){ 

    $('#res_supervisor').on('input', function() { 
      var frase = document.getElementById("res_supervisor").value; 
      frase = frase.replace("#"," ");
      frase = frase.replace("%"," ");
      frase = frase.replace("&"," ");
      frase = frase.replace("$"," ");
      frase = frase.replace("  "," ");
      document.getElementById("res_supervisor").value = frase;
      if (document.getElementById("res_supervisor").value == "" || document.getElementById("res_critico").value == "" ||document.getElementById("res_digitador").value == "") {
      $('#but_res_pc').addClass('hidden');
      $('#p_pc').addClass('hidden');
      $('#div_error_pc').removeClass('hidden');
      } else {
       $('#but_res_pc').removeClass('hidden');
       $('#p_pc').removeClass('hidden');
       $('#div_error_pc').addClass('hidden');
      }
    }); 

    $('#res_critico').on('input', function() { 
      var frase = document.getElementById("res_critico").value; 
      frase = frase.replace("#"," ");
      frase = frase.replace("%"," ");
      frase = frase.replace("&"," ");
      frase = frase.replace("$"," ");
      frase = frase.replace("  "," ");
      document.getElementById("res_critico").value = frase;
      if (document.getElementById("res_supervisor").value == "" || document.getElementById("res_critico").value == "" ||document.getElementById("res_digitador").value == "") {
      $('#but_res_pc').addClass('hidden');
      $('#p_pc').addClass('hidden');
      $('#div_error_pc').removeClass('hidden');
      } else {
       $('#but_res_pc').removeClass('hidden');
       $('#p_pc').removeClass('hidden');
       $('#div_error_pc').addClass('hidden');
      }
    }); 

    $('#res_digitador').on('input', function() { 
      var frase = document.getElementById("res_digitador").value; 
      frase = frase.replace("#"," ");
      frase = frase.replace("%"," ");
      frase = frase.replace("&"," ");
      frase = frase.replace("$"," ");
      frase = frase.replace("  "," ");
      document.getElementById("res_digitador").value = frase;
      if (document.getElementById("res_supervisor").value == "" || document.getElementById("res_critico").value == "" ||document.getElementById("res_digitador").value == "") {
      $('#but_res_pc').addClass('hidden');
      $('#p_pc').addClass('hidden');
      $('#div_error_pc').removeClass('hidden');
      } else {
       $('#but_res_pc').removeClass('hidden');
       $('#p_pc').removeClass('hidden');
       $('#div_error_pc').addClass('hidden');
      }
    }); 
  }); 
</script>

<div class="centrado hidden" style="width: 90%;" id="div_pd">
  <h2 style="font-family: 'Heebo', sans-serif; color: #254064;">B. Fecha de las visitas</h2>
  <br>
  <div class="field qts">
    <h4 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left;">1</h4>
    <%= f.date_field :fv_1, {class: "", autocomplete: "off" , style: "background-color: transparent;height: 50px;border-left: 0px;border-right: 0px;border-top: 0px; display: block;width: 100%;font-family: inherit; color: gray;-webkit-appearance: none;transform: translateZ(0px);font-size: 18px;line-height: 38px;-webkit-font-smoothing: antialiased;border-width: initial;border-color: #254064;border-image: initial;outline: none;box-shadow: none;background: none;", id:"res_fv_1", placeholder: "seleciona fecha"}%>
    <br>
    <h4 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left;">2</h4>
    <%= f.date_field :fv_2, {class: "", autocomplete: "off" , style: "background-color: transparent;height: 50px;border-left: 0px;border-right: 0px;border-top: 0px; display: block;width: 100%;font-family: inherit; color: gray;-webkit-appearance: none;transform: translateZ(0px);font-size: 18px;line-height: 38px;-webkit-font-smoothing: antialiased;border-width: initial;border-color: #254064;border-image: initial;outline: none;box-shadow: none;background: none;", id:"res_fv_2", placeholder: "seleciona fecha"}%>
    <br>
    <h4 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left;">3</h4>
    <%= f.date_field :fv_3, {class: "", autocomplete: "off" , style: "background-color: transparent;height: 50px;border-left: 0px;border-right: 0px;border-top: 0px; display: block;width: 100%;font-family: inherit; color: gray;-webkit-appearance: none;transform: translateZ(0px);font-size: 18px;line-height: 38px;-webkit-font-smoothing: antialiased;border-width: initial;border-color: #254064;border-image: initial;outline: none;box-shadow: none;background: none;", id:"res_fv_3", placeholder: "seleciona fecha"}%>

  </div>
  <div class="hidden" style="color: #254064;" id="div_error_pd"><strong>Por favor, diligencie todos los campos</strong></div>
  <button type="button" class="boton3 hidden" id="but_res_pd">
    <i class="fas fa-check-circle"></i>
    OK
  </button>
  <p  class="hidden" style="color: #254064;" id="p_pd">presiona <strong>ENTER</strong></p>
</div>  
<div class="container hidden" id="pregunta_pd_footer">
  <div class="centrado-abajo">
    <div class="row">
      <div class="col-md-8">
        <span style="color: #254064;">0 de 138 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 0%; background-color: #254064;"></div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_pe_pd_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_pc_pd_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
    </div>
  </div> 
</div>

<script type="text/javascript">
  var input = document.getElementById("res_fv_1");
      input.addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("res_fv_2").focus();
      }
    });

  var input1 = document.getElementById("res_fv_2");
      input1.addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("res_fv_3").focus();
      }
    });

  var input2 = document.getElementById("res_fv_3");
      input2.addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("but_res_pd").click();
      }
    });

  document.getElementById("pregunta_pc_pd_boton").addEventListener("click", fun_pd_dev);
  function fun_pd_dev() {
      $('#div_pc').slideDown();
      $('#div_pc').removeClass('hidden');
      $('#pregunta_pc_footer').removeClass('hidden');
      $('#div_pd').slideUp();
      $('#div_pd').addClass('hidden');
      $('#pregunta_pd_footer').addClass('hidden');
      $('#div_error_pd').addClass('hidden');
  }

  document.getElementById("pregunta_pe_pd_boton").addEventListener("click", fun_pd);
  document.getElementById("but_res_pd").addEventListener("click", fun_pd);
    function fun_pd() {
    var frase = document.getElementById("res_fv_1").value; 
      frase = frase.replace("#"," ");
      frase = frase.replace("%"," ");
      frase = frase.replace("&"," ");
      frase = frase.replace("$"," ");
      frase = frase.replace("  "," ");
      document.getElementById("res_fv_1").value = frase;
    var frase1 = document.getElementById("res_fv_2").value; 
      frase1 = frase1.replace("#"," ");
      frase1 = frase1.replace("%"," ");
      frase1 = frase1.replace("&"," ");
      frase1 = frase1.replace("$"," ");
      frase1 = frase1.replace("  "," ");
      document.getElementById("res_fv_2").value = frase1;
    var frase2 = document.getElementById("res_fv_3").value; 
      frase2 = frase2.replace("#"," ");
      frase2 = frase2.replace("%"," ");
      frase2 = frase2.replace("&"," ");
      frase2 = frase2.replace("$"," ");
      frase2 = frase2.replace("  "," ");
      document.getElementById("res_fv_3").value = frase2;
    if (document.getElementById("res_fv_1").value == "" || document.getElementById("res_fv_2").value == "" ||document.getElementById("res_fv_3").value == "") {
      $('#but_res_pd').addClass('hidden');
      $('#p_pd').addClass('hidden');
      $('#div_error_pd').removeClass('hidden');
    } else {
      $('#div_pd').slideUp();
      $('#div_pd').addClass('hidden');
      $('#pregunta_pd_footer').addClass('hidden');
      $('#div_pe').slideDown();
      $('#div_pe').removeClass('hidden');
      $('#pregunta_pe_footer').removeClass('hidden');
    }
  }

  $(document).ready(function(){ 

    $('#res_fv_1').on('input', function() { 
      var frase = document.getElementById("res_fv_1").value; 
      frase = frase.replace("#"," ");
      frase = frase.replace("%"," ");
      frase = frase.replace("&"," ");
      frase = frase.replace("$"," ");
      frase = frase.replace("  "," ");
      document.getElementById("res_fv_1").value = frase;
      if (document.getElementById("res_fv_1").value == "" || document.getElementById("res_fv_2").value == "" ||document.getElementById("res_fv_3").value == "") {
      $('#but_res_pd').addClass('hidden');
      $('#p_pd').addClass('hidden');
      $('#div_error_pd').removeClass('hidden');
      } else {
       $('#but_res_pd').removeClass('hidden');
       $('#p_pd').removeClass('hidden');
       $('#div_error_pd').addClass('hidden');
      }
    }); 

    $('#res_fv_2').on('input', function() { 
      var frase = document.getElementById("res_fv_2").value; 
      frase = frase.replace("#"," ");
      frase = frase.replace("%"," ");
      frase = frase.replace("&"," ");
      frase = frase.replace("$"," ");
      frase = frase.replace("  "," ");
      document.getElementById("res_fv_2").value = frase;
      if (document.getElementById("res_fv_1").value == "" || document.getElementById("res_fv_2").value == "" ||document.getElementById("res_fv_3").value == "") {
      $('#but_res_pd').addClass('hidden');
      $('#p_pd').addClass('hidden');
      $('#div_error_pd').removeClass('hidden');
      } else {
       $('#but_res_pd').removeClass('hidden');
       $('#p_pd').removeClass('hidden');
       $('#div_error_pd').addClass('hidden');
      }
    }); 

    $('#res_fv_3').on('input', function() { 
      var frase = document.getElementById("res_fv_3").value; 
      frase = frase.replace("#"," ");
      frase = frase.replace("%"," ");
      frase = frase.replace("&"," ");
      frase = frase.replace("$"," ");
      frase = frase.replace("  "," ");
      document.getElementById("res_fv_3").value = frase;
      if (document.getElementById("res_fv_1").value == "" || document.getElementById("res_fv_2").value == "" ||document.getElementById("res_fv_3").value == "") {
      $('#but_res_pd').addClass('hidden');
      $('#p_pd').addClass('hidden');
      $('#div_error_pd').removeClass('hidden');
      } else {
       $('#but_res_pd').removeClass('hidden');
       $('#p_pd').removeClass('hidden');
       $('#div_error_pd').addClass('hidden');
      }
    }); 
  }); 
</script>

<div class="centrado hidden" style="width: 90%;" id="div_pe">
  <h2 style="font-family: 'Heebo', sans-serif; color: #254064;">C. Resultado de la aplicación</h2>
  <br>
  <div class="field qts">
    <h4 style="font-family: 'Heebo', sans-serif; color: #254064;">Fecha de aplicación</h4>
    <%= f.date_field :fa, {class: "", autocomplete: "off" , style: "background-color: transparent;height: 50px;border-left: 0px;border-right: 0px;border-top: 0px; display: block;width: 100%;font-family: inherit; color: gray;-webkit-appearance: none;transform: translateZ(0px);font-size: 18px;line-height: 38px;-webkit-font-smoothing: antialiased;border-width: initial;border-color: #254064;border-image: initial;outline: none;box-shadow: none;background: none;", id:"res_fa", placeholder: "fecha de aplicación"}%>
    <br>
    <h4 style="font-family: 'Heebo', sans-serif; color: #254064;">Hora de inicio:</h4>
    <%= f.time_field :hi, {class: "", autocomplete: "off" , style: "background-color: transparent;height: 50px;border-left: 0px;border-right: 0px;border-top: 0px; display: block;width: 100%;font-family: inherit; color: gray;-webkit-appearance: none;transform: translateZ(0px);font-size: 18px;line-height: 38px;-webkit-font-smoothing: antialiased;border-width: initial;border-color: #254064;border-image: initial;outline: none;box-shadow: none;background: none;", id:"res_hi", placeholder: "hora de inicio"}%>
    <br>
    <h4 style="font-family: 'Heebo', sans-serif; color: #254064;">Hora de finalización:</h4>
    <%= f.time_field :hf, {class: "", autocomplete: "off" , style: "background-color: transparent;height: 50px;border-left: 0px;border-right: 0px;border-top: 0px; display: block;width: 100%;font-family: inherit; color: gray;-webkit-appearance: none;transform: translateZ(0px);font-size: 18px;line-height: 38px;-webkit-font-smoothing: antialiased;border-width: initial;border-color: #254064;border-image: initial;outline: none;box-shadow: none;background: none;", id:"res_hf", placeholder: "hora de finalización"}%>

  </div>
  <div class="hidden" style="color: #254064;" id="div_error_pe"><strong>Por favor, diligencie todos los campos</strong></div>
  <button type="button" class="boton3 hidden" id="but_res_pe">
    <i class="fas fa-check-circle"></i>
    OK
  </button>
  <p  class="hidden" style="color: #254064;" id="p_pe">presiona <strong>ENTER</strong></p>
</div>  
<div class="container hidden" id="pregunta_pe_footer">
  <div class="centrado-abajo">
    <div class="row">
      <div class="col-md-8">
        <span style="color: #254064;">0 de 138 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 0%; background-color: #254064;"></div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_pf_pe_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_pd_pe_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
    </div>
  </div> 
</div>

<script type="text/javascript">
  var input = document.getElementById("res_fa");
      input.addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("res_hi").focus();
      }
    });

  var input1 = document.getElementById("res_hi");
      input1.addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("res_hf").focus();
      }
    });

  var input2 = document.getElementById("res_hf");
      input2.addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("but_res_pe").click();
      }
    });

  document.getElementById("pregunta_pd_pe_boton").addEventListener("click", fun_pe_dev);
  function fun_pe_dev() {
      $('#div_pd').slideDown();
      $('#div_pd').removeClass('hidden');
      $('#pregunta_pd_footer').removeClass('hidden');
      $('#div_pe').slideUp();
      $('#div_pe').addClass('hidden');
      $('#pregunta_pe_footer').addClass('hidden');
      $('#div_error_pe').addClass('hidden');
  }

  document.getElementById("pregunta_pf_pe_boton").addEventListener("click", fun_pe);
  document.getElementById("but_res_pe").addEventListener("click", fun_pe);
    function fun_pe() {
    var frase = document.getElementById("res_fa").value; 
      frase = frase.replace("#"," ");
      frase = frase.replace("%"," ");
      frase = frase.replace("&"," ");
      frase = frase.replace("$"," ");
      frase = frase.replace("  "," ");
      document.getElementById("res_fa").value = frase;
    var frase1 = document.getElementById("res_hi").value; 
      frase1 = frase1.replace("#"," ");
      frase1 = frase1.replace("%"," ");
      frase1 = frase1.replace("&"," ");
      frase1 = frase1.replace("$"," ");
      frase1 = frase1.replace("  "," ");
      document.getElementById("res_hi").value = frase1;
    var frase2 = document.getElementById("res_hf").value; 
      frase2 = frase2.replace("#"," ");
      frase2 = frase2.replace("%"," ");
      frase2 = frase2.replace("&"," ");
      frase2 = frase2.replace("$"," ");
      frase2 = frase2.replace("  "," ");
      document.getElementById("res_hf").value = frase2;
    if (document.getElementById("res_fa").value == "" || document.getElementById("res_hi").value == "" ||document.getElementById("res_hf").value == "") {
      $('#but_res_pe').addClass('hidden');
      $('#p_pe').addClass('hidden');
      $('#div_error_pe').removeClass('hidden');
    } else {
      $('#div_pe').slideUp();
      $('#div_pe').addClass('hidden');
      $('#pregunta_pe_footer').addClass('hidden');
      $('#div_pf').slideDown();
      $('#div_pf').removeClass('hidden');
      $('#pregunta_pf_footer').removeClass('hidden');
    }
  }

  $(document).ready(function(){ 

    $('#res_fa').on('input', function() { 
      var frase = document.getElementById("res_fa").value; 
      frase = frase.replace("#"," ");
      frase = frase.replace("%"," ");
      frase = frase.replace("&"," ");
      frase = frase.replace("$"," ");
      frase = frase.replace("  "," ");
      document.getElementById("res_fa").value = frase;
      if (document.getElementById("res_fa").value == "" || document.getElementById("res_hi").value == "" ||document.getElementById("res_hf").value == "") {
      $('#but_res_pe').addClass('hidden');
      $('#p_pe').addClass('hidden');
      $('#div_error_pe').removeClass('hidden');
      } else {
       $('#but_res_pe').removeClass('hidden');
       $('#p_pe').removeClass('hidden');
       $('#div_error_pe').addClass('hidden');
      }
    }); 

    $('#res_hi').on('input', function() { 
      var frase = document.getElementById("res_hi").value; 
      frase = frase.replace("#"," ");
      frase = frase.replace("%"," ");
      frase = frase.replace("&"," ");
      frase = frase.replace("$"," ");
      frase = frase.replace("  "," ");
      document.getElementById("res_hi").value = frase;
      if (document.getElementById("res_fa").value == "" || document.getElementById("res_hi").value == "" ||document.getElementById("res_hf").value == "") {
      $('#but_res_pe').addClass('hidden');
      $('#p_pe').addClass('hidden');
      $('#div_error_pe').removeClass('hidden');
      } else {
       $('#but_res_pe').removeClass('hidden');
       $('#p_pe').removeClass('hidden');
       $('#div_error_pe').addClass('hidden');
      }
    }); 

    $('#res_hf').on('input', function() { 
      var frase = document.getElementById("res_hf").value; 
      frase = frase.replace("#"," ");
      frase = frase.replace("%"," ");
      frase = frase.replace("&"," ");
      frase = frase.replace("$"," ");
      frase = frase.replace("  "," ");
      document.getElementById("res_hf").value = frase;
      if (document.getElementById("res_fa").value == "" || document.getElementById("res_hi").value == "" ||document.getElementById("res_hf").value == "") {
      $('#but_res_pe').addClass('hidden');
      $('#p_pe').addClass('hidden');
      $('#div_error_pe').removeClass('hidden');
      } else {
       $('#but_res_pe').removeClass('hidden');
       $('#p_pe').removeClass('hidden');
       $('#div_error_pe').addClass('hidden');
      }
    }); 
  }); 
</script>

<div class="centrado hidden" style="width: 90%;" id="div_pf">
  <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">D. Resultado de la encuesta</h2>
  <span style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;"></span>
  <h3 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064; text-align: center;"></h3>
  <br>
  <div class="field qts">
    <div class="inputGroup">
      <%= f.radio_button :pf, "C" , id:"radio-1-pf"%>
      <%= f.label :pf, "Completa", for: "radio-1-pf"%>
    </div>
    <div class="inputGroup">
      <%= f.radio_button :pf, "IC" , id:"radio-2-pf"%>
      <%= f.label :pf, "Incompleta", for: "radio-2-pf"%>
    </div>
    <div class="inputGroup">
      <%= f.radio_button :pf, "A" , id:"radio-3-pf"%>
      <%= f.label :pf, "Ausente", for: "radio-3-pf"%>
    </div>
    <div class="inputGroup">
      <%= f.radio_button :pf, "R" , id:"radio-4-pf"%>
      <%= f.label :pf, "Rechazo", for: "radio-4-pf"%>
    </div>
  </div>
  <div class="invalid-feedback hidden" style="color: #254064;" id="div_error_pf">Por favor, <strong>escoge una respuesta</strong></div>
  <button type="button" class="boton3 hidden" id="but_res_pf">
    <i class="fas fa-check-circle"></i>
      OK
  </button>
  <p  class="hidden" style="color: #254064;" id="p_pf">presioná <strong>ENTER</strong></p>
</div>  
<div class="container hidden" id="pregunta_pf_footer">
  <div class="centrado-abajo" style="">
    <div class="row">
      <div class="col-md-8">
        <span style="color: #254064">0 de 138 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 0%; background-color: #254064;"></div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_p10_pf_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_pe_pf_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
        </div>
      </div>  
    </div>
  </div> 
</div>

<script type="text/javascript">

  document.getElementById("pregunta_pe_pf_boton").addEventListener("click", fun_pf_dev);
  function fun_pf_dev() {
      $('#div_pe').slideDown();
      $('#div_pe').removeClass('hidden');
      $('#pregunta_pe_footer').removeClass('hidden');
      $('#div_pf').slideUp();
      $('#div_pf').addClass('hidden');
      $('#pregunta_pf_footer').addClass('hidden');
      $('#div_error_pf').addClass('hidden');
  }

  document.getElementById("pregunta_p10_pf_boton").addEventListener("click", fun_pf);
  document.getElementById("radio-1-pf").addEventListener("click", fun_pf);
  document.getElementById("radio-2-pf").addEventListener("click", fun_pf);
  document.getElementById("radio-3-pf").addEventListener("click", fun_pf);
  document.getElementById("radio-4-pf").addEventListener("click", fun_pf);
  function fun_pf() {
    if ($("#radio-1-pf").is(':checked') == true ||
        $("#radio-2-pf").is(':checked') == true ||
        $("#radio-3-pf").is(':checked') == true ||
        $("#radio-4-pf").is(':checked') == true) {
    setTimeout(function(){
      $('#div_pf').slideUp();
      $('#div_pf').addClass('hidden');
      $('#pregunta_pf_footer').addClass('hidden');
      $('#div_p10').slideDown();
      $('#div_p10').removeClass('hidden');
      $('#pregunta_p10_footer').removeClass('hidden');
      $('#div_error_p10').addClass('hidden');
  } , 500);
  } else {
      $('#div_error_pf').removeClass('hidden');
    }
    } 
</script>
</div>


<div class="centrado hidden" style="width: 90%" id="div_p10">
  <h3 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064; text-align: center;">p10. Estrato actual de la vivienda</h3>
    <br>
    <div class="field qts">
      <div class="inputGroup">
              <%= f.radio_button :p10, "1" , id:"radio-1-p10"%>
              <%= f.label :p10, "1", for: "radio-1-p10"%>
            </div>
      <div class="inputGroup">
              <%= f.radio_button :p10, "2" , id:"radio-2-p10"%>
              <%= f.label :p10, "2", for: "radio-2-p10"%>
            </div>
      <div class="inputGroup">
              <%= f.radio_button :p10, "3" , id:"radio-3-p10"%>
              <%= f.label :p10, "3", for: "radio-3-p10"%>
            </div>
      <div class="inputGroup">
              <%= f.radio_button :p10, "4" , id:"radio-4-p10"%>
              <%= f.label :p10, "4", for: "radio-4-p10"%>
            </div>
      <div class="inputGroup">
              <%= f.radio_button :p10, "5" , id:"radio-5-p10"%>
              <%= f.label :p10, "5", for: "radio-5-p10"%>
            </div>
      <div class="inputGroup">
              <%= f.radio_button :p10, "6" , id:"radio-6-p10"%>
              <%= f.label :p10, "6", for: "radio-6-p10"%>
            </div>
    </div>
    <div class="invalid-feedback hidden" style="color: #254064;" id="div_error_p10">Por favor, <strong>escoge una respuesta</strong></div>
    <button type="button" class="boton3 hidden" id="but_res_p10">
      <i class="fas fa-check-circle"></i>
        OK
    </button>
    <p  class="hidden" style="color: #254064;" id="p_p10">presioná <strong>ENTER</strong></p>
  </div>  
  <div class="container hidden" id="pregunta_p10_footer">
    <div class="centrado-abajo">
      <div class="row">
        <div class="col-md-8">
        <span style="color: #254064">p10numero de 54 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 4%; background-color: #254064;"></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <a class="boton1" id="pregunta_p11_p10_boton">
              <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
            </a>
            <a class="boton1" id="pregunta_pf_p10_boton">
              <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
            </a>
          </div>
      </div>  
    </div>
  </div> 
</div>
  
  <script type="text/javascript">
  
    document.getElementById("pregunta_pf_p10_boton").addEventListener("click", fun_p10_dev);
    function fun_p10_dev() {
        $('#div_pf').slideDown();
        $('#div_pf').removeClass('hidden');
        $('#pregunta_pf_footer').removeClass('hidden');
        $('#div_p10').slideUp();
        $('#div_p10').addClass('hidden');
        $('#pregunta_p10_footer').addClass('hidden');
        $('#div_error_p10').addClass('hidden');
    }
  
    document.getElementById("pregunta_p11_p10_boton").addEventListener("click", fun_p10);
    document.getElementById("radio-1-p10").addEventListener("click", fun_p10);
    document.getElementById("radio-2-p10").addEventListener("click", fun_p10);
    document.getElementById("radio-3-p10").addEventListener("click", fun_p10);
    document.getElementById("radio-4-p10").addEventListener("click", fun_p10);
    document.getElementById("radio-5-p10").addEventListener("click", fun_p10);
    document.getElementById("radio-6-p10").addEventListener("click", fun_p10);
    function fun_p10() {
          if (
    $("#radio-1-p10").is(':checked') == true || 
    $("#radio-2-p10").is(':checked') == true || 
    $("#radio-3-p10").is(':checked') == true || 
    $("#radio-4-p10").is(':checked') == true || 
    $("#radio-5-p10").is(':checked') == true || 
    $("#radio-6-p10").is(':checked') == true
    ) {
      setTimeout(function(){
        $('#div_p10').slideUp();
        $('#div_p10').addClass('hidden');
        $('#pregunta_p10_footer').addClass('hidden');
        $('#div_p11').slideDown();
        $('#div_p11').removeClass('hidden');
        $('#pregunta_p11_footer').removeClass('hidden');
        $('#div_error_p11').addClass('hidden');
    } , 500);
    } else {
        $('#div_error_p10').removeClass('hidden');
      }
      } 
  
</script>

<div class="centrado hidden" style="width: 90%" id="div_p11">
  <h3 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064; text-align: center;">p11. Tipo de vivienda</h3>
    <br>
    <div class="field qts">
<div class="inputGroup">
        <%= f.radio_button :p11, "1" , id:"radio-1-p11"%>
        <%= f.label :p11, "Casa", for: "radio-1-p11"%>
      </div>
<div class="inputGroup">
        <%= f.radio_button :p11, "2" , id:"radio-2-p11"%>
        <%= f.label :p11, "Apartamento", for: "radio-2-p11"%>
      </div>
<div class="inputGroup">
        <%= f.radio_button :p11, "3" , id:"radio-3-p11"%>
        <%= f.label :p11, "Tipo Cuarto (ej: Inquilinato)", for: "radio-3-p11"%>
      </div>
<div class="inputGroup">
        <%= f.radio_button :p11, "99" , id:"radio-4-p11"%>
        <%= f.label :p11, "Ns/Nr", for: "radio-4-p11"%>
      </div>
</div>
    <div class="invalid-feedback hidden" style="color: #254064;" id="div_error_p11">Por favor, <strong>escoge una respuesta</strong></div>
    <button type="button" class="boton3 hidden" id="but_res_p11">
      <i class="fas fa-check-circle"></i>
        OK
    </button>
    <p  class="hidden" style="color: #254064;" id="p_p11">presioná <strong>ENTER</strong></p>
  </div>  
  <div class="container hidden" id="pregunta_p11_footer">
    <div class="centrado-abajo">
      <div class="row">
        <div class="col-md-8">
        <span style="color: #254064">p11numero de 54 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 4%; background-color: #254064;"></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <a class="boton1" id="pregunta_p12_p11_boton">
              <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
            </a>
            <a class="boton1" id="pregunta_p10_p11_boton">
              <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
            </a>
          </div>
      </div>  
    </div>
  </div> 
</div>
  
  <script type="text/javascript">
  
    document.getElementById("pregunta_p10_p11_boton").addEventListener("click", fun_p11_dev);
    function fun_p11_dev() {
        $('#div_p10').slideDown();
        $('#div_p10').removeClass('hidden');
        $('#pregunta_p10_footer').removeClass('hidden');
        $('#div_p11').slideUp();
        $('#div_p11').addClass('hidden');
        $('#pregunta_p11_footer').addClass('hidden');
        $('#div_error_p11').addClass('hidden');
    }
  
    document.getElementById("pregunta_p12_p11_boton").addEventListener("click", fun_p11);

document.getElementById("radio-1-p11").addEventListener("click", fun_p11);
document.getElementById("radio-2-p11").addEventListener("click", fun_p11);
document.getElementById("radio-3-p11").addEventListener("click", fun_p11);
document.getElementById("radio-4-p11").addEventListener("click", fun_p11);
function fun_p11() {
      if (
$("#radio-1-p11").is(':checked') == true || 
$("#radio-2-p11").is(':checked') == true || 
$("#radio-3-p11").is(':checked') == true || 
$("#radio-4-p11").is(':checked') == true
) {
  
      setTimeout(function(){
        $('#div_p11').slideUp();
        $('#div_p11').addClass('hidden');
        $('#pregunta_p11_footer').addClass('hidden');
        $('#div_p12').slideDown();
        $('#div_p12').removeClass('hidden');
        $('#pregunta_p12_footer').removeClass('hidden');
        $('#div_error_p12').addClass('hidden');
    } , 500);
    } else {
        $('#div_error_p11').removeClass('hidden');
      }
      } 
  
</script>
<div class="centrado hidden" style="width: 90%" id="div_p12">
  <h3 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064; text-align: center;">p12. Este lugar en donde vives es</h3>
    <br>
    <div class="field qts">
<div class="inputGroup">
        <%= f.radio_button :p12, "1" , id:"radio-1-p12"%>
        <%= f.label :p12, "En arriendo", for: "radio-1-p12"%>
      </div>
<div class="inputGroup">
        <%= f.radio_button :p12, "2" , id:"radio-2-p12"%>
        <%= f.label :p12, "Propio totalmente pago (el dueño es alguno de los miembros con quien vive)", for: "radio-2-p12"%>
      </div>
<div class="inputGroup">
        <%= f.radio_button :p12, "3" , id:"radio-3-p12"%>
        <%= f.label :p12, "Propio pero se está pagando (el dueño es alguno de los miembros con 2 Baldosa, tableta
quien vive)", for: "radio-3-p12"%>
      </div>
<div class="inputGroup">
        <%= f.radio_button :p12, "4" , id:"radio-4-p12"%>
        <%= f.label :p12, "No paga arriendo pero tiene permiso del propietario para vivir allí", for: "radio-4-p12"%>
      </div>
<div class="inputGroup">
        <%= f.radio_button :p12, "5" , id:"radio-5-p12"%>
        <%= f.label :p12, "No paga arriendo y no tiene permiso del dueño", for: "radio-5-p12"%>
      </div>
<div class="inputGroup">
        <%= f.radio_button :p12, "6" , id:"radio-6-p12"%>
        <%= f.label :p12, "Otra relación", for: "radio-6-p12"%>
      </div>
<div class="inputGroup">
        <%= f.radio_button :p12, "99" , id:"radio-7-p12"%>
        <%= f.label :p12, "Ns/Nr", for: "radio-7-p12"%>
      </div>
</div>
    <div class="invalid-feedback hidden" style="color: #254064;" id="div_error_p12">Por favor, <strong>escoge una respuesta</strong></div>
    <button type="button" class="boton3 hidden" id="but_res_p12">
      <i class="fas fa-check-circle"></i>
        OK
    </button>
    <p  class="hidden" style="color: #254064;" id="p_p12">presioná <strong>ENTER</strong></p>
  </div>  
  <div class="container hidden" id="pregunta_p12_footer">
    <div class="centrado-abajo">
      <div class="row">
        <div class="col-md-8">
        <span style="color: #254064">p12numero de 54 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 4%; background-color: #254064;"></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <a class="boton1" id="pregunta_p13_p12_boton">
              <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
            </a>
            <a class="boton1" id="pregunta_p11_p12_boton">
              <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
            </a>
          </div>
      </div>  
    </div>
  </div> 
</div>
  
  <script type="text/javascript">
  
    document.getElementById("pregunta_p11_p12_boton").addEventListener("click", fun_p12_dev);
    function fun_p12_dev() {
        $('#div_p11').slideDown();
        $('#div_p11').removeClass('hidden');
        $('#pregunta_p11_footer').removeClass('hidden');
        $('#div_p12').slideUp();
        $('#div_p12').addClass('hidden');
        $('#pregunta_p12_footer').addClass('hidden');
        $('#div_error_p12').addClass('hidden');
    }
  
    document.getElementById("pregunta_p13_p12_boton").addEventListener("click", fun_p12);

document.getElementById("radio-1-p12").addEventListener("click", fun_p12);
document.getElementById("radio-2-p12").addEventListener("click", fun_p12);
document.getElementById("radio-3-p12").addEventListener("click", fun_p12);
document.getElementById("radio-4-p12").addEventListener("click", fun_p12);
document.getElementById("radio-5-p12").addEventListener("click", fun_p12);
document.getElementById("radio-6-p12").addEventListener("click", fun_p12);
document.getElementById("radio-7-p12").addEventListener("click", fun_p12);
function fun_p12() {
      if (
$("#radio-1-p12").is(':checked') == true || 
$("#radio-2-p12").is(':checked') == true || 
$("#radio-3-p12").is(':checked') == true || 
$("#radio-4-p12").is(':checked') == true || 
$("#radio-5-p12").is(':checked') == true || 
$("#radio-6-p12").is(':checked') == true || 
$("#radio-7-p12").is(':checked') == true
) {
  
      setTimeout(function(){
        $('#div_p12').slideUp();
        $('#div_p12').addClass('hidden');
        $('#pregunta_p12_footer').addClass('hidden');
        $('#div_p13').slideDown();
        $('#div_p13').removeClass('hidden');
        $('#pregunta_p13_footer').removeClass('hidden');
        $('#div_error_p13').addClass('hidden');
    } , 500);
    } else {
        $('#div_error_p12').removeClass('hidden');
      }
      } 
  
</script>
<div class="centrado hidden" style="width: 90%" id="div_p13">
  <h3 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064; text-align: center;">p13. El material predominante de los pisos de su casa es:</h3>
    <br>
    <div class="field qts">
<div class="inputGroup">
        <%= f.radio_button :p13, "1" , id:"radio-1-p13"%>
        <%= f.label :p13, "Alfombra, madera pulida", for: "radio-1-p13"%>
      </div>
<div class="inputGroup">
        <%= f.radio_button :p13, "2" , id:"radio-2-p13"%>
        <%= f.label :p13, "Baldosa, tableta", for: "radio-2-p13"%>
      </div>
<div class="inputGroup">
        <%= f.radio_button :p13, "3" , id:"radio-3-p13"%>
        <%= f.label :p13, "Cemento, gravilla, tablón", for: "radio-3-p13"%>
      </div>
<div class="inputGroup">
        <%= f.radio_button :p13, "4" , id:"radio-4-p13"%>
        <%= f.label :p13, "Tierra", for: "radio-4-p13"%>
      </div>
<div class="inputGroup">
        <%= f.radio_button :p13, "99" , id:"radio-5-p13"%>
        <%= f.label :p13, "Ns/Nr", for: "radio-5-p13"%>
      </div>
</div>
    <div class="invalid-feedback hidden" style="color: #254064;" id="div_error_p13">Por favor, <strong>escoge una respuesta</strong></div>
    <button type="button" class="boton3 hidden" id="but_res_p13">
      <i class="fas fa-check-circle"></i>
        OK
    </button>
    <p  class="hidden" style="color: #254064;" id="p_p13">presioná <strong>ENTER</strong></p>
  </div>  
  <div class="container hidden" id="pregunta_p13_footer">
    <div class="centrado-abajo">
      <div class="row">
        <div class="col-md-8">
        <span style="color: #254064">p13numero de 54 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 4%; background-color: #254064;"></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <a class="boton1" id="pregunta_p14_p13_boton">
              <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
            </a>
            <a class="boton1" id="pregunta_p12_p13_boton">
              <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
            </a>
          </div>
      </div>  
    </div>
  </div> 
</div>
  
  <script type="text/javascript">
  
    document.getElementById("pregunta_p12_p13_boton").addEventListener("click", fun_p13_dev);
    function fun_p13_dev() {
        $('#div_p12').slideDown();
        $('#div_p12').removeClass('hidden');
        $('#pregunta_p12_footer').removeClass('hidden');
        $('#div_p13').slideUp();
        $('#div_p13').addClass('hidden');
        $('#pregunta_p13_footer').addClass('hidden');
        $('#div_error_p13').addClass('hidden');
    }
  
    document.getElementById("pregunta_p14_p13_boton").addEventListener("click", fun_p13);

document.getElementById("radio-1-p13").addEventListener("click", fun_p13);
document.getElementById("radio-2-p13").addEventListener("click", fun_p13);
document.getElementById("radio-3-p13").addEventListener("click", fun_p13);
document.getElementById("radio-4-p13").addEventListener("click", fun_p13);
document.getElementById("radio-5-p13").addEventListener("click", fun_p13);
function fun_p13() {
      if (
$("#radio-1-p13").is(':checked') == true || 
$("#radio-2-p13").is(':checked') == true || 
$("#radio-3-p13").is(':checked') == true || 
$("#radio-4-p13").is(':checked') == true || 
$("#radio-5-p13").is(':checked') == true
) {
  
      setTimeout(function(){
        $('#div_p13').slideUp();
        $('#div_p13').addClass('hidden');
        $('#pregunta_p13_footer').addClass('hidden');
        $('#div_p14').slideDown();
        $('#div_p14').removeClass('hidden');
        $('#pregunta_p14_footer').removeClass('hidden');
        $('#div_error_p14').addClass('hidden');
    } , 500);
    } else {
        $('#div_error_p13').removeClass('hidden');
      }
      } 
  
</script>
<div class="centrado hidden" style="width: 90%" id="div_p14">
  <h3 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064; text-align: center;">p14. ¿Otros familiares que no viven aquí contribuyen con el sostenimiento de este hogar?</h3>
    <br>
    <div class="field qts">
<div class="inputGroup">
        <%= f.radio_button :p14, "1" , id:"radio-1-p14"%>
        <%= f.label :p14, "Si", for: "radio-1-p14"%>
      </div>
<div class="inputGroup">
        <%= f.radio_button :p14, "2" , id:"radio-2-p14"%>
        <%= f.label :p14, "No", for: "radio-2-p14"%>
      </div>
<div class="inputGroup">
        <%= f.radio_button :p14, "99" , id:"radio-3-p14"%>
        <%= f.label :p14, "Ns/Nr", for: "radio-3-p14"%>
      </div>
</div>
    <div class="invalid-feedback hidden" style="color: #254064;" id="div_error_p14">Por favor, <strong>escoge una respuesta</strong></div>
    <button type="button" class="boton3 hidden" id="but_res_p14">
      <i class="fas fa-check-circle"></i>
        OK
    </button>
    <p  class="hidden" style="color: #254064;" id="p_p14">presioná <strong>ENTER</strong></p>
  </div>  
  <div class="container hidden" id="pregunta_p14_footer">
    <div class="centrado-abajo">
      <div class="row">
        <div class="col-md-8">
        <span style="color: #254064">p14numero de 54 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 4%; background-color: #254064;"></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <a class="boton1" id="pregunta_p15_p14_boton">
              <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
            </a>
            <a class="boton1" id="pregunta_p13_p14_boton">
              <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
            </a>
          </div>
      </div>  
    </div>
  </div> 
</div>
  
  <script type="text/javascript">
  
    document.getElementById("pregunta_p13_p14_boton").addEventListener("click", fun_p14_dev);
    function fun_p14_dev() {
        $('#div_p13').slideDown();
        $('#div_p13').removeClass('hidden');
        $('#pregunta_p13_footer').removeClass('hidden');
        $('#div_p14').slideUp();
        $('#div_p14').addClass('hidden');
        $('#pregunta_p14_footer').addClass('hidden');
        $('#div_error_p14').addClass('hidden');
    }
  
    document.getElementById("pregunta_p15_p14_boton").addEventListener("click", fun_p14);

document.getElementById("radio-1-p14").addEventListener("click", fun_p14);
document.getElementById("radio-2-p14").addEventListener("click", fun_p14);
document.getElementById("radio-3-p14").addEventListener("click", fun_p14);
function fun_p14() {
      if (
$("#radio-1-p14").is(':checked') == true || 
$("#radio-2-p14").is(':checked') == true || 
$("#radio-3-p14").is(':checked') == true
) {
  
      setTimeout(function(){
        $('#div_p14').slideUp();
        $('#div_p14').addClass('hidden');
        $('#pregunta_p14_footer').addClass('hidden');
        $('#div_p15').slideDown();
        $('#div_p15').removeClass('hidden');
        $('#pregunta_p15_footer').removeClass('hidden');
        $('#div_error_p15').addClass('hidden');
    } , 500);
    } else {
        $('#div_error_p14').removeClass('hidden');
      }
      } 
  
</script>
<div class="centrado hidden" style="width: 90%" id="div_p15">
  <h3 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064; text-align: center;">p15. ¿Alguien de este hogar contribuye con el sostenimiento de familiares que no viven aquí?</h3>
    <br>
    <div class="field qts">
<div class="inputGroup">
        <%= f.radio_button :p15, "1" , id:"radio-1-p15"%>
        <%= f.label :p15, "Si", for: "radio-1-p15"%>
      </div>
<div class="inputGroup">
        <%= f.radio_button :p15, "2" , id:"radio-2-p15"%>
        <%= f.label :p15, "No", for: "radio-2-p15"%>
      </div>
<div class="inputGroup">
        <%= f.radio_button :p15, "99" , id:"radio-3-p15"%>
        <%= f.label :p15, "Ns/Nr", for: "radio-3-p15"%>
      </div>
</div>
    <div class="invalid-feedback hidden" style="color: #254064;" id="div_error_p15">Por favor, <strong>escoge una respuesta</strong></div>
    <button type="button" class="boton3 hidden" id="but_res_p15">
      <i class="fas fa-check-circle"></i>
        OK
    </button>
    <p  class="hidden" style="color: #254064;" id="p_p15">presioná <strong>ENTER</strong></p>
  </div>  
  <div class="container hidden" id="pregunta_p15_footer">
    <div class="centrado-abajo">
      <div class="row">
        <div class="col-md-8">
        <span style="color: #254064">p15numero de 54 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 4%; background-color: #254064;"></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <a class="boton1" id="pregunta_p16_p15_boton">
              <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
            </a>
            <a class="boton1" id="pregunta_p14_p15_boton">
              <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
            </a>
          </div>
      </div>  
    </div>
  </div> 
</div>
  
  <script type="text/javascript">
  
    document.getElementById("pregunta_p14_p15_boton").addEventListener("click", fun_p15_dev);
    function fun_p15_dev() {
        $('#div_p14').slideDown();
        $('#div_p14').removeClass('hidden');
        $('#pregunta_p14_footer').removeClass('hidden');
        $('#div_p15').slideUp();
        $('#div_p15').addClass('hidden');
        $('#pregunta_p15_footer').addClass('hidden');
        $('#div_error_p15').addClass('hidden');
    }
  
    document.getElementById("pregunta_p16_p15_boton").addEventListener("click", fun_p15);

document.getElementById("radio-1-p15").addEventListener("click", fun_p15);
document.getElementById("radio-2-p15").addEventListener("click", fun_p15);
document.getElementById("radio-3-p15").addEventListener("click", fun_p15);
function fun_p15() {
      if (
$("#radio-1-p15").is(':checked') == true || 
$("#radio-2-p15").is(':checked') == true || 
$("#radio-3-p15").is(':checked') == true
) {
  
      setTimeout(function(){
        $('#div_p15').slideUp();
        $('#div_p15').addClass('hidden');
        $('#pregunta_p15_footer').addClass('hidden');
        $('#div_p16').slideDown();
        $('#div_p16').removeClass('hidden');
        $('#pregunta_p16_footer').removeClass('hidden');
        $('#div_error_p16').addClass('hidden');
    } , 500);
    } else {
        $('#div_error_p15').removeClass('hidden');
      }
      } 
  
</script>
<div class="centrado hidden" style="width: 90%" id="div_p16">
  <h3 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064; text-align: center;">p16. "¿Por falta de dinero, alguna persona integrante del hogar no consumió ninguna
de las tres comidas (desayuno, almuerzo, comida) uno o más días de la semana pasada?"</h3>
    <br>
    <div class="field qts">
<div class="inputGroup">
        <%= f.radio_button :p16, "1" , id:"radio-1-p16"%>
        <%= f.label :p16, "Si", for: "radio-1-p16"%>
      </div>
<div class="inputGroup">
        <%= f.radio_button :p16, "2" , id:"radio-2-p16"%>
        <%= f.label :p16, "No", for: "radio-2-p16"%>
      </div>
<div class="inputGroup">
        <%= f.radio_button :p16, "99" , id:"radio-3-p16"%>
        <%= f.label :p16, "Ns/Nr", for: "radio-3-p16"%>
      </div>
</div>
    <div class="invalid-feedback hidden" style="color: #254064;" id="div_error_p16">Por favor, <strong>escoge una respuesta</strong></div>
    <button type="button" class="boton3 hidden" id="but_res_p16">
      <i class="fas fa-check-circle"></i>
        OK
    </button>
    <p  class="hidden" style="color: #254064;" id="p_p16">presioná <strong>ENTER</strong></p>
  </div>  
  <div class="container hidden" id="pregunta_p16_footer">
    <div class="centrado-abajo">
      <div class="row">
        <div class="col-md-8">
        <span style="color: #254064">p16numero de 54 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 4%; background-color: #254064;"></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <a class="boton1" id="pregunta_p17_p16_boton">
              <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
            </a>
            <a class="boton1" id="pregunta_p15_p16_boton">
              <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
            </a>
          </div>
      </div>  
    </div>
  </div> 
</div>
  
  <script type="text/javascript">
  
    document.getElementById("pregunta_p15_p16_boton").addEventListener("click", fun_p16_dev);
    function fun_p16_dev() {
        $('#div_p15').slideDown();
        $('#div_p15').removeClass('hidden');
        $('#pregunta_p15_footer').removeClass('hidden');
        $('#div_p16').slideUp();
        $('#div_p16').addClass('hidden');
        $('#pregunta_p16_footer').addClass('hidden');
        $('#div_error_p16').addClass('hidden');
    }
  
    document.getElementById("pregunta_p17_p16_boton").addEventListener("click", fun_p16);

document.getElementById("radio-1-p16").addEventListener("click", fun_p16);
document.getElementById("radio-2-p16").addEventListener("click", fun_p16);
document.getElementById("radio-3-p16").addEventListener("click", fun_p16);
function fun_p16() {
      if (
$("#radio-1-p16").is(':checked') == true || 
$("#radio-2-p16").is(':checked') == true || 
$("#radio-3-p16").is(':checked') == true
) {
  
      setTimeout(function(){
        $('#div_p16').slideUp();
        $('#div_p16').addClass('hidden');
        $('#pregunta_p16_footer').addClass('hidden');
        $('#div_p17').slideDown();
        $('#div_p17').removeClass('hidden');
        $('#pregunta_p17_footer').removeClass('hidden');
        $('#div_error_p17').addClass('hidden');
    } , 500);
    } else {
        $('#div_error_p16').removeClass('hidden');
      }
      } 
  
</script>
<div class="centrado hidden" style="width: 90%" id="div_p17">
  <h2 style="font-family: 'Heebo', sans-serif; color: #254064;">p17. Nombre del(la) Encuestado(a)</h2>
  <br>
  <div class="field qts">

    <%= f.text_field :p17, {class: "", autocomplete: "off" , style: "background-color: transparent;height: 50px;border-left: 0px;border-right: 0px;border-top: 0px; display: block;width: 100%;font-family: inherit; color: gray;-webkit-appearance: none;transform: translateZ(0px);font-size: 18px;line-height: 38px;-webkit-font-smoothing: antialiased;border-width: initial;border-color: #254064;border-image: initial;outline: none;box-shadow: none;background: none;", id:"res_p17", placeholder: "¿Cuál?"}%> 

  </div>
  <div class="hidden" style="color: #254064;" id="div_error_p17"><strong>Por favor, escribe sin signos</strong></div>
  <button type="button" class="boton3 hidden" id="but_res_p17">
    <i class="fas fa-check-circle"></i>
    OK
  </button>
  <p  class="hidden" style="color: #254064;" id="p_p17">presiona <strong>ENTER</strong></p>
</div>  
<div class="container hidden" id="pregunta_p17_footer">
  <div class="centrado-abajo">
    <div class="row">
      <div class="col-md-8">
        <span style="color: #254064;">27 de 37 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 84%; background-color: #254064;"></div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_p18_p17_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_p16_p17_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
    </div>
  </div> 
</div>

<script type="text/javascript">
  var input = document.getElementById("res_p17");
      input.addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("but_res_p17").click();
      }
    });

  document.getElementById("pregunta_p16_p17_boton").addEventListener("click", fun_p17_dev);
  function fun_p17_dev() {
      $('#div_p16').slideDown();
      $('#div_p16').removeClass('hidden');
      $('#pregunta_p16_footer').removeClass('hidden');
      $('#div_p17').slideUp();
      $('#div_p17').addClass('hidden');
      $('#pregunta_p17_footer').addClass('hidden');
      $('#div_error_p17').addClass('hidden');
  }

  document.getElementById("pregunta_p18_p17_boton").addEventListener("click", fun_p17);
  document.getElementById("but_res_p17").addEventListener("click", fun_p17);
    function fun_p17() {
    var frase = document.getElementById("res_p17").value; 
      frase = frase.replace("#"," ");
      frase = frase.replace("%"," ");
      frase = frase.replace("&"," ");
      frase = frase.replace("$"," ");
      frase = frase.replace("  "," ");
      document.getElementById("res_p17").value = frase;
    if (document.getElementById("res_p17").value == "") {
      $('#but_res_p17').addClass('hidden');
      $('#p_p17').addClass('hidden');
      $('#div_error_p17').removeClass('hidden');
    } else {
      $('#div_p17').slideUp();
      $('#div_p17').addClass('hidden');
      $('#pregunta_p17_footer').addClass('hidden');
      $('#div_p18').slideDown();
      $('#div_p18').removeClass('hidden');
      $('#pregunta_p18_footer').removeClass('hidden');
      $('#div_error_p18').addClass('hidden');
      document.getElementById("res_p18").focus();
    }
  }

  $(document).ready(function(){ 

    $('#res_p17').on('input', function() { 
      var frase = document.getElementById("res_p17").value; 
      frase = frase.replace("#"," ");
      frase = frase.replace("%"," ");
      frase = frase.replace("&"," ");
      frase = frase.replace("$"," ");
      document.getElementById("res_p17").value = frase;
      if (document.getElementById("res_p17").value == "") {
      $('#but_res_p17').addClass('hidden');
      $('#p_p17').addClass('hidden');
      $('#div_error_p17').removeClass('hidden');
      } else {
       $('#but_res_p17').removeClass('hidden');
       $('#p_p17').removeClass('hidden');
       $('#div_error_p17').addClass('hidden');
      }
    }); 
  }); 
</script>
<div class="centrado hidden" style="width: 90%" id="div_p18">
  <h2 style="font-family: 'Heebo', sans-serif; color: #254064;">p18. Correo Electrónico</h2>
  <br>
  <div class="field qts">

    <%= f.text_field :p18, {class: "", autocomplete: "off" , style: "background-color: transparent;height: 50px;border-left: 0px;border-right: 0px;border-top: 0px; display: block;width: 100%;font-family: inherit; color: gray;-webkit-appearance: none;transform: translateZ(0px);font-size: 18px;line-height: 38px;-webkit-font-smoothing: antialiased;border-width: initial;border-color: #254064;border-image: initial;outline: none;box-shadow: none;background: none;", id:"res_p18", placeholder: "¿Cuál?"}%> 

  </div>
  <div class="hidden" style="color: #254064;" id="div_error_p18"><strong>Por favor, escribe sin signos</strong></div>
  <button type="button" class="boton3 hidden" id="but_res_p18">
    <i class="fas fa-check-circle"></i>
    OK
  </button>
  <p  class="hidden" style="color: #254064;" id="p_p18">presiona <strong>ENTER</strong></p>
</div>  
<div class="container hidden" id="pregunta_p18_footer">
  <div class="centrado-abajo">
    <div class="row">
      <div class="col-md-8">
        <span style="color: #254064;">27 de 37 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 84%; background-color: #254064;"></div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_p19_p18_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_p17_p18_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
    </div>
  </div> 
</div>

<script type="text/javascript">
  var input = document.getElementById("res_p18");
      input.addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("but_res_p18").click();
      }
    });

  document.getElementById("pregunta_p17_p18_boton").addEventListener("click", fun_p18_dev);
  function fun_p18_dev() {
      $('#div_p17').slideDown();
      $('#div_p17').removeClass('hidden');
      $('#pregunta_p17_footer').removeClass('hidden');
      $('#div_p18').slideUp();
      $('#div_p18').addClass('hidden');
      $('#pregunta_p18_footer').addClass('hidden');
      $('#div_error_p18').addClass('hidden');
  }

  document.getElementById("pregunta_p19_p18_boton").addEventListener("click", fun_p18);
  document.getElementById("but_res_p18").addEventListener("click", fun_p18);
    function fun_p18() {
    var frase = document.getElementById("res_p18").value; 
      frase = frase.replace("#"," ");
      frase = frase.replace("%"," ");
      frase = frase.replace("&"," ");
      frase = frase.replace("$"," ");
      frase = frase.replace("  "," ");
      document.getElementById("res_p18").value = frase;
    if (document.getElementById("res_p18").value == "") {
      $('#but_res_p18').addClass('hidden');
      $('#p_p18').addClass('hidden');
      $('#div_error_p18').removeClass('hidden');
    } else {
      $('#div_p18').slideUp();
      $('#div_p18').addClass('hidden');
      $('#pregunta_p18_footer').addClass('hidden');
      $('#div_p19').slideDown();
      $('#div_p19').removeClass('hidden');
      $('#pregunta_p19_footer').removeClass('hidden');
      $('#div_error_p19').addClass('hidden');
      document.getElementById("res_p19").focus();
    }
  }

  $(document).ready(function(){ 

    $('#res_p18').on('input', function() { 
      var frase = document.getElementById("res_p18").value; 
      frase = frase.replace("#"," ");
      frase = frase.replace("%"," ");
      frase = frase.replace("&"," ");
      frase = frase.replace("$"," ");
      document.getElementById("res_p18").value = frase;
      if (document.getElementById("res_p18").value == "") {
      $('#but_res_p18').addClass('hidden');
      $('#p_p18').addClass('hidden');
      $('#div_error_p18').removeClass('hidden');
      } else {
       $('#but_res_p18').removeClass('hidden');
       $('#p_p18').removeClass('hidden');
       $('#div_error_p18').addClass('hidden');
      }
    }); 
  }); 
</script>
<div class="centrado hidden" style="width: 90%" id="div_p19">
  <h2 style="font-family: 'Heebo', sans-serif; color: #254064;">p19. Teléfono</h2>
  <br>
  <div class="field qts">

    <%= f.text_field :p19, {class: "", autocomplete: "off" , style: "background-color: transparent;height: 50px;border-left: 0px;border-right: 0px;border-top: 0px; display: block;width: 100%;font-family: inherit; color: gray;-webkit-appearance: none;transform: translateZ(0px);font-size: 18px;line-height: 38px;-webkit-font-smoothing: antialiased;border-width: initial;border-color: #254064;border-image: initial;outline: none;box-shadow: none;background: none;", id:"res_p19", placeholder: "¿Cuál?"}%> 

  </div>
  <div class="hidden" style="color: #254064;" id="div_error_p19"><strong>Por favor, escribe sin signos</strong></div>
  <button type="button" class="boton3 hidden" id="but_res_p19">
    <i class="fas fa-check-circle"></i>
    OK
  </button>
  <p  class="hidden" style="color: #254064;" id="p_p19">presiona <strong>ENTER</strong></p>
</div>  
<div class="container hidden" id="pregunta_p19_footer">
  <div class="centrado-abajo">
    <div class="row">
      <div class="col-md-8">
        <span style="color: #254064;">27 de 37 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 84%; background-color: #254064;"></div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_p20_p19_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_p18_p19_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>          
        </div>
      </div>  
    </div>
  </div> 
</div>

<script type="text/javascript">
  var input = document.getElementById("res_p19");
      input.addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("but_res_p19").click();
      }
    });

  document.getElementById("pregunta_p18_p19_boton").addEventListener("click", fun_p19_dev);
  function fun_p19_dev() {
      $('#div_p18').slideDown();
      $('#div_p18').removeClass('hidden');
      $('#pregunta_p18_footer').removeClass('hidden');
      $('#div_p19').slideUp();
      $('#div_p19').addClass('hidden');
      $('#pregunta_p19_footer').addClass('hidden');
      $('#div_error_p19').addClass('hidden');
  }

  document.getElementById("pregunta_p20_p19_boton").addEventListener("click", fun_p19);
  document.getElementById("but_res_p19").addEventListener("click", fun_p19);
    function fun_p19() {
    var frase = document.getElementById("res_p19").value; 
      frase = frase.replace("#"," ");
      frase = frase.replace("%"," ");
      frase = frase.replace("&"," ");
      frase = frase.replace("$"," ");
      frase = frase.replace("  "," ");
      document.getElementById("res_p19").value = frase;
    if (document.getElementById("res_p19").value == "") {
      $('#but_res_p19').addClass('hidden');
      $('#p_p19').addClass('hidden');
      $('#div_error_p19').removeClass('hidden');
    } else {
      $('#div_p19').slideUp();
      $('#div_p19').addClass('hidden');
      $('#pregunta_p19_footer').addClass('hidden');
      $('#div_p20').slideDown();
      $('#div_p20').removeClass('hidden');
      $('#pregunta_p20_footer').removeClass('hidden');
      $('#div_error_p20').addClass('hidden');
      document.getElementById("res_p20").focus();
    }
  }

  $(document).ready(function(){ 

    $('#res_p19').on('input', function() { 
      var frase = document.getElementById("res_p19").value; 
      frase = frase.replace("#"," ");
      frase = frase.replace("%"," ");
      frase = frase.replace("&"," ");
      frase = frase.replace("$"," ");
      document.getElementById("res_p19").value = frase;
      if (document.getElementById("res_p19").value == "") {
      $('#but_res_p19').addClass('hidden');
      $('#p_p19').addClass('hidden');
      $('#div_error_p19').removeClass('hidden');
      } else {
       $('#but_res_p19').removeClass('hidden');
       $('#p_p19').removeClass('hidden');
       $('#div_error_p19').addClass('hidden');
      }
    }); 
  }); 
</script>
<div class="centrado hidden" style="width: 90%" id="div_p20">
  <h3 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064; text-align: center;">p20. Considerando su vida en general, para usted en los últimos 10 años la vida en Bogotá ha…</h3>
    <br>
    <div class="field qts">
<div class="inputGroup">
        <%= f.radio_button :p20, "1" , id:"radio-1-p20"%>
        <%= f.label :p20, "Mejorado", for: "radio-1-p20"%>
      </div>
<div class="inputGroup">
        <%= f.radio_button :p20, "2" , id:"radio-2-p20"%>
        <%= f.label :p20, "Permanecido igual", for: "radio-2-p20"%>
      </div>
<div class="inputGroup">
        <%= f.radio_button :p20, "3" , id:"radio-3-p20"%>
        <%= f.label :p20, "Empeorado", for: "radio-3-p20"%>
      </div>
<div class="inputGroup">
        <%= f.radio_button :p20, "99" , id:"radio-4-p20"%>
        <%= f.label :p20, "Ns/Nr", for: "radio-4-p20"%>
      </div>
<div class="inputGroup">
        <%= f.radio_button :p20, "88" , id:"radio-5-p20"%>
        <%= f.label :p20, "No aplica", for: "radio-5-p20"%>
      </div>
</div>
    <div class="invalid-feedback hidden" style="color: #254064;" id="div_error_p20">Por favor, <strong>escoge una respuesta</strong></div>
    <button type="button" class="boton3 hidden" id="but_res_p20">
      <i class="fas fa-check-circle"></i>
        OK
    </button>
    <p  class="hidden" style="color: #254064;" id="p_p20">presioná <strong>ENTER</strong></p>
  </div>  
  <div class="container hidden" id="pregunta_p20_footer">
    <div class="centrado-abajo">
      <div class="row">
        <div class="col-md-8">
        <span style="color: #254064">p20numero de 54 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 4%; background-color: #254064;"></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <a class="boton1" id="pregunta_p21_p20_boton">
              <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
            </a>
            <a class="boton1" id="pregunta_p19_p20_boton">
              <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
            </a>
          </div>
      </div>  
    </div>
  </div> 
</div>
  
  <script type="text/javascript">
  
    document.getElementById("pregunta_p19_p20_boton").addEventListener("click", fun_p20_dev);
    function fun_p20_dev() {
        $('#div_p19').slideDown();
        $('#div_p19').removeClass('hidden');
        $('#pregunta_p19_footer').removeClass('hidden');
        $('#div_p20').slideUp();
        $('#div_p20').addClass('hidden');
        $('#pregunta_p20_footer').addClass('hidden');
        $('#div_error_p20').addClass('hidden');
    }
  
    document.getElementById("pregunta_p21_p20_boton").addEventListener("click", fun_p20);

document.getElementById("radio-1-p20").addEventListener("click", fun_p20);
document.getElementById("radio-2-p20").addEventListener("click", fun_p20);
document.getElementById("radio-3-p20").addEventListener("click", fun_p20);
document.getElementById("radio-4-p20").addEventListener("click", fun_p20);
document.getElementById("radio-5-p20").addEventListener("click", fun_p20);
function fun_p20() {
      if (
$("#radio-1-p20").is(':checked') == true || 
$("#radio-2-p20").is(':checked') == true || 
$("#radio-3-p20").is(':checked') == true || 
$("#radio-4-p20").is(':checked') == true || 
$("#radio-5-p20").is(':checked') == true
) {
  
      setTimeout(function(){
        $('#div_p20').slideUp();
        $('#div_p20').addClass('hidden');
        $('#pregunta_p20_footer').addClass('hidden');
        $('#div_p21').slideDown();
        $('#div_p21').removeClass('hidden');
        $('#pregunta_p21_footer').removeClass('hidden');
        $('#div_error_p21').addClass('hidden');
    } , 500);
    } else {
        $('#div_error_p20').removeClass('hidden');
      }
      } 
  
</script>







<div class="hidden">
  <div class="field">
    <%= f.label :entrevistador %>
    <%= f.text_field :entrevistador %>
  </div>

  <div class="field">
    <%= f.label :critico %>
    <%= f.text_field :critico %>
  </div>

  <div class="field">
    <%= f.label :supervisor %>
    <%= f.text_field :supervisor %>
  </div>

  <div class="field">
    <%= f.label :digitador %>
    <%= f.text_field :digitador %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
