<p id="notice"><%= notice %></p>

<p>
  <strong>P1:</strong>
  <%= @docente.p1 %>
</p>

<p>
  <strong>P2a:</strong>
  <%= @docente.p2a %>
</p>

<p>
  <strong>P2b:</strong>
  <%= @docente.p2b %>
</p>

<p>
  <strong>P3:</strong>
  <%= @docente.p3 %>
</p>

<%= link_to 'Edit', edit_docente_path(@docente) %> |
<%= link_to 'Back', docentes_path %>
