<p id="notice"><%= notice %></p>

<h1>Cultura1s</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cultura1s.each do |cultura1| %>
      <tr>
        <td><%= link_to 'Show', cultura1 %></td>
        <td><%= link_to 'Edit', edit_cultura1_path(cultura1) %></td>
        <td><%= link_to 'Destroy', cultura1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cultura1', new_cultura1_path %>
