<p id="notice"><%= notice %></p>

<p>
  <strong>P1:</strong>
  <%= @director.p1 %>
</p>

<p>
  <strong>P2a:</strong>
  <%= @director.p2a %>
</p>

<p>
  <strong>P2b:</strong>
  <%= @director.p2b %>
</p>

<p>
  <strong>P3:</strong>
  <%= @director.p3 %>
</p>

<%= link_to 'Edit', edit_director_path(@director) %> |
<%= link_to 'Back', directors_path %>
