<style>
.hidden {
  display: none !important;}
  .centrado{
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  }

  .centrado-abajo{
  position: absolute;
  top: 90%; 
  width: 80%;
  }
  .qts{
    display: block;
    width: 100%;
    font-family: inherit;
    color: rgb(255, 255, 255);
    -webkit-appearance: none;
    transform: translateZ(0px);
    font-size: 18px;
    line-height: 38px;
    -webkit-font-smoothing: antialiased;
    padding: 0px 0px 8px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    border-radius: 0px;
    transition: box-shadow 0.2s ease 0s;
    background: none;
  }
  select {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4c2f48;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #43a2d2;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  select:hover {
  background-color: dodgerblue;
  }
  .no-focus-outline button:focus {
    outline: none;
  }
  

  .boton3 {
  color: #254064 !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: rgba(0,0,0,0);
  border: 2px solid;
  border-radius: 50px;
  border-color: #254064;
  transition: all 1s ease;
  position: relative;
  }
  .boton3:hover {
  background: #254064;
  color: #fff !important;
  }
  .boton1 {
    cursor: pointer;
  transition: all 1s ease;
  }
  .boton1:hover {
  color: white !important;
  }
  

.inputGroup {
  background-color: transparent;
  display: block;
  margin: 10px 0;
  position: relative;
  width: 80%
}
.inputGroup label {
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  color: #3C454C;
  font-family: 'Heebo';
  border: 1px solid #43a2d2;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
}
.inputGroup label:before {
  width: 100%;
  height: 10px;
  border-radius: 50%;
  content: '';
  background-color: #254064;
  position: absolute;
  -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
          transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}
.inputGroup label:after {
  width: 32px;
  height: 32px;
  content: '';
  border: 1px solid #254064;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
  color: #fff;
}
.inputGroup input:checked ~ label:before {
  -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
          transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}
.inputGroup input:checked ~ label:after {
  background-color: #43a2d2;
  border-color: #43a2d2;
}
.inputGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

  .form {
  padding: 0 16px;
  margin: 50px auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  }

  body {
    display: table;
    width: 100%;
    height: 100%;
    padding: 50px 0;
    color: #4c2f48;
    background: url('/assets/grayscale/form_quipu.png') no-repeat center center fixed;
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
  }

  code {
    background-color: #9AA3AC;
    padding: 0 8px;
  }
</style>

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://kit.fontawesome.com/1f7411956b.js"></script>

<%= form_with(model: estudiante, local: true) do |f| %>
  <% if estudiante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estudiante.errors.count, "error") %> prohibited this estudiante from being saved:</h2>

      <ul>
      <% estudiante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="centrado" style="width: 90%; text-align: center; position: absolute;" id="div_pregunta_0">
  <h2 style="font-family: 'Heebo', sans-serif; color: #254064;">Empezar nueva encuesta estudiantes</h2>
  <button type="button" class="boton3" style="" id="but_res_pregunta_0">
    <i class="fas fa-check-circle"; id="but_pregunta_0"></i>
    Empieza!
  </button>
</div>  

<div class="centrado hidden" style="width: 90%" id="div_pregunta_1">
  <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">P1. ¿En que curso estás? </h2>
  <br>
  <div class="field qts">
    <div class="inputGroup">
      <%= f.radio_button :p1, "5" , id:"radio-1-p1"%>
      <%= f.label :p1, "5", for: "radio-1-p1"%>
    </div>
    <div class="inputGroup">
      <%= f.radio_button :p1, "6" , id:"radio-2-p1"%>
      <%= f.label :p1, "6", for: "radio-2-p1"%>
    </div>
    <div class="inputGroup">
      <%= f.radio_button :p1, "7" , id:"radio-3-p1"%>
      <%= f.label :p1, "7", for: "radio-3-p1"%>
    </div>
    <div class="inputGroup">
      <%= f.radio_button :p1, "8" , id:"radio-4-p1"%>
      <%= f.label :p1, "8", for: "radio-4-p1"%>
    </div>
    <div class="inputGroup">
      <%= f.radio_button :p1, "9" , id:"radio-5-p1"%>
      <%= f.label :p1, "9", for: "radio-5-p1"%>
    </div>
    <div class="inputGroup">
      <%= f.radio_button :p1, "10" , id:"radio-6-p1"%>
      <%= f.label :p1, "10", for: "radio-6-p1"%>
    </div>
    <div class="inputGroup">
      <%= f.radio_button :p1, "11" , id:"radio-7-p1"%>
      <%= f.label :p1, "11", for: "radio-7-p1"%>
    </div>
  </div>
  <div class="invalid-feedback hidden" style="color: #4c2f48;" id="div_error_pregunta_1">Por favor, <strong>escogé un curso!</strong></div>
  <button type="button" class="boton3 hidden" id="but_res_pregunta_1">
    <i class="fas fa-check-circle";></i>
      OK
  </button>
  <p  class="hidden" style="color: #4c2f48;" id="p_pregunta_1">presioná <strong>ENTER</strong></p>
</div>  
<div class="container hidden" id="pregunta_1_footer">
  <div class="centrado-abajo">
    <div class="row">
      <div class="col-md-4">
        <span style="color: #254064">1 de 54 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 2%; background-color: #254064;"></div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_0_1_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_2_1_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
        </div>
      </div>  
    </div>
  </div> 
</div>

<div class="centrado hidden" style="width: 90%" id="div_pregunta_2">
  <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">P2. ¿Eres hombre o mujer? </h2>
  <br>
  <div class="field qts">
    <div class="inputGroup">
      <%= f.radio_button :p2, "1" , id:"radio-1-p2"%>
      <%= f.label :p2, "Hombre", for: "radio-1-p2"%>
    </div>
    <div class="inputGroup">
      <%= f.radio_button :p2, "2" , id:"radio-2-p2"%>
      <%= f.label :p2, "Mujer", for: "radio-2-p2"%>
    </div>
  </div>
  <div class="invalid-feedback hidden" style="color: #254064;" id="div_error_pregunta_2">Por favor, <strong>escogé un género!</strong></div>
  <button type="button" class="boton3 hidden" id="but_res_pregunta_2">
    <i class="fas fa-check-circle";></i>
      OK
  </button>
  <p  class="hidden" style="color: #254064;" id="p_pregunta_2">presioná <strong>ENTER</strong></p>
</div>  
<div class="container hidden" id="pregunta_2_footer">
  <div class="centrado-abajo">
    <div class="row">
      <div class="col-md-8">
        <span style="color: #254064">2 de 54 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 4%; background-color: #254064;"></div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_1_2_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_3_2_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
        </div>
      </div>  
    </div>
  </div> 
</div>

<div class="centrado hidden" style="width: 90%" id="div_pregunta_3">
  <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">P3. ¿Cuál fue la fecha de tu nacimiento?: </h2>
  <br>
  <div class="field qts">
    <%= f.date_field :p4, {class: "", autocomplete: "off" , style: "background-color: transparent;height: 50px;border-left: 0px;border-right: 0px;border-top: 0px; display: block;width: 100%;font-family: inherit; color: gray;-webkit-appearance: none;transform: translateZ(0px);font-size: 18px;line-height: 38px;-webkit-font-smoothing: antialiased;border-width: initial;border-color: #254064;border-image: initial;outline: none;box-shadow: none;background: none;", id:"res_pregunta_4", placeholder: "Escoge la fecha aquí"}%>
  </div>
  <div class="invalid-feedback hidden" style="color: #254064;" id="div_error_pregunta_3">Por favor, <strong>diligencia la fecha!</strong></div>
  <button type="button" class="boton3 hidden" id="but_res_pregunta_3">
    <i class="fas fa-check-circle";></i>
      OK
  </button>
  <p  class="hidden" style="color: #254064;" id="p_pregunta_3">presioná <strong>ENTER</strong></p>
</div>  
<div class="container hidden" id="pregunta_3_footer">
  <div class="centrado-abajo">
    <div class="row">
      <div class="col-md-8">
        <span style="color: #254064">3 de 54 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 6%; background-color: #254064;"></div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_4_3_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_2_3_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
        </div>
      </div>  
    </div>
  </div> 
</div>

<div class="centrado hidden" style="width: 90%" id="div_pregunta_4">
  <h2 style="font-weight: bold;font-family: 'Heebo', sans-serif; color: #254064;">P2. ¿Con quién vives? (Puedes rellenar varias) </h2>
  <br>
  <div class="field qts">
    <div class="inputGroup">
      <%= f.radio_button :p4_1, "Papá" , id:"radio-1-p4_1"%>
      <%= f.label :p4_1, "Papá", for: "radio-1-p4_1"%>
    </div>
    <div class="inputGroup">
      <%= f.radio_button :p4_2, "Padrastro" , id:"radio-1-p4_2"%>
      <%= f.label :p4_2, "Padrastro", for: "radio-1-p4_2"%>
    </div>
    <div class="inputGroup">
      <%= f.radio_button :p4_3, "Mamá" , id:"radio-1-p4_3"%>
      <%= f.label :p4_3, "Mamá", for: "radio-1-p4_3"%>
    </div>
    <div class="inputGroup">
      <%= f.radio_button :p4_4, "Madrastra" , id:"radio-1-p4_4"%>
      <%= f.label :p4_4, "Madrastra", for: "radio-1-p4_4"%>
    </div>
    <div class="inputGroup">
      <%= f.radio_button :p4_5, "Hermanos(as)" , id:"radio-1-p4_5"%>
      <%= f.label :p4_5, "Hermanos(as)", for: "radio-1-p4_5"%>
    </div>
    <div class="inputGroup">
      <%= f.radio_button :p4_6, "Primos(as)" , id:"radio-1-p4_6"%>
      <%= f.label :p4_6, "Primos(as)", for: "radio-1-p4_6"%>
    </div>
    <div class="inputGroup">
      <%= f.radio_button :p4_7, "Tíos - Tías" , id:"radio-1-p4_7"%>
      <%= f.label :p4_7, "Tíos - Tías", for: "radio-1-p4_7"%>
    </div>
    <div class="inputGroup">
      <%= f.radio_button :p4_8, "Abuelos - Abuelas" , id:"radio-1-p4_8"%>
      <%= f.label :p4_8, "Abuelos - Abuelas", for: "radio-1-p4_8"%>
    </div>
    <div class="inputGroup">
      <%= f.radio_button :p4_9, "Tu Esposo(sa)" , id:"radio-1-p4_9"%>
      <%= f.label :p4_9, "Tu Esposo(sa)", for: "radio-1-p4_9"%>
    </div>
    <div class="inputGroup">
      <%= f.radio_button :p4_10, "Tus hijos(as)" , id:"radio-1-p4_10"%>
      <%= f.label :p4_10, "Tus hijos(as)", for: "radio-1-p4_10"%>
    </div>
    <div class="inputGroup">
      <%= f.radio_button :p4_11, "2" , id:"radio-1-p4_11"%>
      <%= f.label :p4_11, "Otros familiares", for: "radio-1-p4_11"%>
    </div>
    <div class="inputGroup">
      <%= f.radio_button :p4_12, "2" , id:"radio-1-p4_12"%>
      <%= f.label :p4_12, "Otros no parientes ", for: "radio-1-p4_12"%>
    </div>
    <div class="inputGroup">
      <%= f.radio_button :p4_13, "2" , id:"radio-1-p4_13"%>
      <%= f.label :p4_13, "Sólo(a)", for: "radio-1-p4_13"%>
    </div>
  </div>
  <div class="invalid-feedback hidden" style="color: #254064;" id="div_error_pregunta_4">Por favor, <strong>escogé al menos uno!</strong></div>
  <button type="button" class="boton3 hidden" id="but_res_pregunta_4">
    <i class="fas fa-check-circle";></i>
      OK
  </button>
  <p  class="hidden" style="color: #254064;" id="p_pregunta_4">presioná <strong>ENTER</strong></p>
</div>  
<div class="container hidden" id="pregunta_4_footer">
  <div class="centrado-abajo">
    <div class="row">
      <div class="col-md-8">
        <span style="color: #254064">4 de 54 respuestas</span>
          <div class="progress progress-striped active">
            <div class="bar" style="width: 8%; background-color: #254064;"></div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <a class="boton1" id="pregunta_2_4_boton">
            <i class="fas fa-caret-square-down fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
          <a class="boton1" id="pregunta_3_4_boton">
            <i class="fas fa-caret-square-up fa-3x" style="color: #254064; margin: 10px;"></i>
          </a>
        </div>
      </div>  
    </div>
  </div> 
</div>


<script type="text/javascript">
  
$('form').on('keypress', e => {
    if (e.keyCode == 13) {
        return false;
    }
  });

var input = document.getElementById("but_res_pregunta_0");
    input.addEventListener("keyup", function(event) {
    if (event.keyCode === 13) {
      event.preventDefault();
      document.getElementById("but_res_pregunta_0").click();
    }
  });

$(document).ready(function(){ 

    //document.getElementById("but_res_pregunta_0").focus();

    $('#res_pregunta_3').change(function() { 
      if (document.getElementById("res_pregunta_3").value == "") {
      $('#but_res_pregunta_3').addClass('hidden');
      $('#p_pregunta_3').addClass('hidden');
      $('#div_error_pregunta_3').removeClass('hidden');
      } else {
       $('#but_res_pregunta_3').removeClass('hidden');
       $('#p_pregunta_3').removeClass('hidden');
       $('#div_error_pregunta_3').addClass('hidden');
      }
    }); 
}); 
document.getElementById("but_res_pregunta_0").addEventListener("click", fun_pregunta_0);
function fun_pregunta_0() {
  $('#div_pregunta_0').slideUp();
  $('#div_pregunta_0').addClass('hidden');
  $('#div_pregunta_1').slideDown();
  $('#div_pregunta_1').removeClass('hidden');
  $('#pregunta_1_footer').removeClass('hidden');
  $('#div_error_pregunta_1').addClass('hidden');
  }

document.getElementById("pregunta_0_1_boton").addEventListener("click", fun_pregunta_0_1_dev);
function fun_pregunta_0_1_dev() {
  $('#div_pregunta_1').slideUp();
  $('#div_pregunta_1').addClass('hidden');
  $('#pregunta_1_footer').addClass('hidden');
  $('#div_error_pregunta_1').addClass('hidden');
  $('#div_pregunta_0').slideDown();
  $('#div_pregunta_0').removeClass('hidden');
  } 

document.getElementById("radio-1-p1").addEventListener("change", rad_cat_p1);
document.getElementById("radio-2-p1").addEventListener("change", rad_cat_p1);
document.getElementById("radio-3-p1").addEventListener("change", rad_cat_p1);
document.getElementById("radio-4-p1").addEventListener("change", rad_cat_p1);
document.getElementById("radio-5-p1").addEventListener("change", rad_cat_p1);
document.getElementById("radio-6-p1").addEventListener("change", rad_cat_p1);
document.getElementById("radio-7-p1").addEventListener("change", rad_cat_p1);
function rad_cat_p1() {
    setTimeout(function(){
    $('#div_pregunta_1').slideUp();
    $('#div_pregunta_1').addClass('hidden');
    $('#pregunta_1_footer').addClass('hidden');
    $('#div_error_pregunta_1').addClass('hidden');
    $('#div_pregunta_2').slideDown();
    $('#div_pregunta_2').removeClass('hidden');
    $('#pregunta_2_footer').removeClass('hidden');
    $('#div_error_pregunta_2').addClass('hidden');
    }, 500);
  }

document.getElementById("pregunta_2_1_boton").addEventListener("click", fun_pregunta_2_1);
function fun_pregunta_2_1() {
  $('#div_pregunta_1').slideUp();
  $('#div_pregunta_1').addClass('hidden');
  $('#pregunta_1_footer').addClass('hidden');
  $('#div_error_pregunta_1').addClass('hidden');
  $('#div_pregunta_2').slideDown();
  $('#div_pregunta_2').removeClass('hidden');
  $('#pregunta_2_footer').removeClass('hidden');
  $('#div_error_pregunta_2').addClass('hidden');
}

document.getElementById("pregunta_1_2_boton").addEventListener("click", fun_pregunta_1_2_dev);
function fun_pregunta_1_2_dev() {
  $('#div_pregunta_2').slideUp();
  $('#div_pregunta_2').addClass('hidden');
  $('#pregunta_2_footer').addClass('hidden');
  $('#div_error_pregunta_2').addClass('hidden');
  $('#div_pregunta_1').slideDown();
  $('#div_pregunta_1').removeClass('hidden');
  $('#pregunta_1_footer').removeClass('hidden');
  $('#div_error_pregunta_1').addClass('hidden');
} 

document.getElementById("radio-1-p2").addEventListener("change", rad_cat_p2);
document.getElementById("radio-2-p2").addEventListener("change", rad_cat_p2);
function rad_cat_p2() {
    setTimeout(function(){
    $('#div_pregunta_2').slideUp();
    $('#div_pregunta_2').addClass('hidden');
    $('#pregunta_2_footer').addClass('hidden');
    $('#div_error_pregunta_2').addClass('hidden');
    $('#div_pregunta_3').slideDown();
    $('#div_pregunta_3').removeClass('hidden');
    $('#pregunta_3_footer').removeClass('hidden');
    $('#div_error_pregunta_3').addClass('hidden');
    }, 500);
  }

document.getElementById("pregunta_3_2_boton").addEventListener("click", fun_pregunta_3_2);
function fun_pregunta_3_2() {
  $('#div_pregunta_2').slideUp();
  $('#div_pregunta_2').addClass('hidden');
  $('#pregunta_2_footer').addClass('hidden');
  $('#div_error_pregunta_2').addClass('hidden');
  $('#div_pregunta_3').slideDown();
  $('#div_pregunta_3').removeClass('hidden');
  $('#pregunta_3_footer').removeClass('hidden');
  $('#div_error_pregunta_3').addClass('hidden');
}

document.getElementById("pregunta_2_3_boton").addEventListener("click", fun_pregunta_2_3_dev);
function fun_pregunta_2_3_dev() {
  $('#div_pregunta_3').slideUp();
  $('#div_pregunta_3').addClass('hidden');
  $('#pregunta_3_footer').addClass('hidden');
  $('#div_error_pregunta_3').addClass('hidden');
  $('#div_pregunta_2').slideDown();
  $('#div_pregunta_2').removeClass('hidden');
  $('#pregunta_2_footer').removeClass('hidden');
  $('#div_error_pregunta_2').addClass('hidden');
} 

document.getElementById("but_res_pregunta_3").addEventListener("change", fun_res_pregunta_p3);
function fun_res_pregunta_p3() {
    setTimeout(function(){
    $('#div_pregunta_3').slideUp();
    $('#div_pregunta_3').addClass('hidden');
    $('#pregunta_3_footer').addClass('hidden');
    $('#div_error_pregunta_3').addClass('hidden');
    $('#div_pregunta_4').slideDown();
    $('#div_pregunta_4').removeClass('hidden');
    $('#pregunta_4_footer').removeClass('hidden');
    $('#div_error_pregunta_4').addClass('hidden');
    }, 500);
  }

document.getElementById("pregunta_4_3_boton").addEventListener("click", fun_pregunta_4_3);
function fun_pregunta_4_3() {
  $('#div_pregunta_3').slideUp();
  $('#div_pregunta_3').addClass('hidden');
  $('#pregunta_3_footer').addClass('hidden');
  $('#div_error_pregunta_3').addClass('hidden');
  $('#div_pregunta_4').slideDown();
  $('#div_pregunta_4').removeClass('hidden');
  $('#pregunta_4_footer').removeClass('hidden');
  $('#div_error_pregunta_4').addClass('hidden');
}

document.getElementById("pregunta_3_4_boton").addEventListener("click", fun_pregunta_3_4_dev);
function fun_pregunta_3_4_dev() {
  $('#div_pregunta_4').slideUp();
  $('#div_pregunta_4').addClass('hidden');
  $('#pregunta_4_footer').addClass('hidden');
  $('#div_error_pregunta_4').addClass('hidden');
  $('#div_pregunta_3').slideDown();
  $('#div_pregunta_3').removeClass('hidden');
  $('#pregunta_3_footer').removeClass('hidden');
  $('#div_error_pregunta_3').addClass('hidden');
} 

document.getElementById("but_res_pregunta_4").addEventListener("change", fun_res_pregunta_p4);
function fun_res_pregunta_p4() {
    setTimeout(function(){
    $('#div_pregunta_3').slideUp();
    $('#div_pregunta_3').addClass('hidden');
    $('#pregunta_3_footer').addClass('hidden');
    $('#div_error_pregunta_3').addClass('hidden');
    $('#div_pregunta_4').slideDown();
    $('#div_pregunta_4').removeClass('hidden');
    $('#pregunta_4_footer').removeClass('hidden');
    $('#div_error_pregunta_4').addClass('hidden');
    }, 500);
  }

document.getElementById("pregunta_4_3_boton").addEventListener("click", fun_pregunta_4_3);
function fun_pregunta_4_3() {
  $('#div_pregunta_3').slideUp();
  $('#div_pregunta_3').addClass('hidden');
  $('#pregunta_3_footer').addClass('hidden');
  $('#div_error_pregunta_3').addClass('hidden');
  $('#div_pregunta_4').slideDown();
  $('#div_pregunta_4').removeClass('hidden');
  $('#pregunta_4_footer').removeClass('hidden');
  $('#div_error_pregunta_4').addClass('hidden');
}

</script>
 
<div class="hidden">

  <div class="form-group">
    <h3>P3. ¿Cuál fue la fecha de tu nacimiento?:</h3>
    <%= f.date_field :p3 %>
  </div>

  <div class="f-group">
    <h3>P4. ¿Con quién vives?</h3><span>(Puedes rellenar varias)</span>
    <br>
        <table class="table table-striped">
          <tr>
            <th style="text-align: center;"><h5>a. Papá</h5></th>
            <td style="text-align: center;"><%= f.check_box :p4 %></td>
          </tr>
          <tr>
            <th style="text-align: center;">b. Padrastro</th>
            <td style="text-align: center;"><%= f.check_box :p4 %></td>
          </tr>
          <tr>
            <th style="text-align: center;"><h5>c. Mamá</h5></th>
            <td style="text-align: center;"><%= f.check_box :p4 %></td>
          </tr>
          <tr>
            <th style="text-align: center;">d. Madrastra</th>
            <td style="text-align: center;"><%= f.check_box :p4 %></td>
          </tr>
      </table>
      </div>
  </div>

  <div class=" hidden actions">
    <%= f.submit %>
  </div>
<% end %>
</div>

  
