<style>
@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,500,700&display=swap');
.pregunta {
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  color: #3C454C;
  font-family: 'Heebo';
  border: 1px solid #43a2d2;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
}
</style>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://kit.fontawesome.com/1f7411956b.js"></script>

  <div class="container">
  <h4 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left;" >P24. ¿La última vez que te retiraste TEMPORALMENTE de tus estudios fue por alguna de las siguientes razones relacionadas con ese COLEGIO?</h4>
  
  <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p24a" role="button" aria-expanded="false" aria-controls="collapse_p24a">
     a. El colegio no tenía todos los cursos hasta once
      </a>
    </p>
    <div class="collapse" id="collapse_p24a">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p24a).having("p24a != ?", "--").having("p24a != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p24a).having("p24a != ?", "--").having("p24a != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% if (value == "si") %>
            <%valor = "Si"%>
            <% elsif (value == "no") %>
              <%valor = "No"%>
            <% elsif (value == "99") %>
              <%valor = "No Responde"%>
          <% end %>
          <% array.push([valor, (100*item/total.to_f).round(2), item]) %>  
        <%end%>
        <%= bar_chart array, colors: ["#662483"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p24b" role="button" aria-expanded="false" aria-controls="collapse_p24b">
     b. Faltaban profesores
      </a>
    </p>
    <div class="collapse" id="collapse_p24b">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p24b).having("p24b != ?", "--").having("p24b != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p24b).having("p24b != ?", "--").having("p24b != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% if (value == "si") %>
            <%valor = "Si"%>
            <% elsif (value == "no") %>
              <%valor = "No"%>
            <% elsif (value == "99") %>
              <%valor = "No Responde"%>
          <% end %>
          <% array.push([valor, (100*item/total.to_f).round(2), item]) %>  
        <%end%>
        <%= bar_chart array, colors: ["#662483"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p24c" role="button" aria-expanded="false" aria-controls="collapse_p24c">
     c. La forma como enseñaban los profesores era aburrida
      </a>
    </p>
    <div class="collapse" id="collapse_p24c">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p24c).having("p24c != ?", "--").having("p24c != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p24c).having("p24c != ?", "--").having("p24c != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% if (value == "si") %>
            <%valor = "Si"%>
            <% elsif (value == "no") %>
              <%valor = "No"%>
            <% elsif (value == "99") %>
              <%valor = "No Responde"%>
          <% end %>
          <% array.push([valor, (100*item/total.to_f).round(2), item]) %>  
        <%end%>
        <%= bar_chart array, colors: ["#662483"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p24d" role="button" aria-expanded="false" aria-controls="collapse_p24d">
     d. Las instalaciones del colegio eran desagradables
      </a>
    </p>
    <div class="collapse" id="collapse_p24d">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p24d).having("p24d != ?", "--").having("p24d != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p24d).having("p24d != ?", "--").having("p24d != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% if (value == "si") %>
            <%valor = "Si"%>
            <% elsif (value == "no") %>
              <%valor = "No"%>
            <% elsif (value == "99") %>
              <%valor = "No Responde"%>
          <% end %>
          <% array.push([valor, (100*item/total.to_f).round(2), item]) %>  
        <%end%>
        <%= bar_chart array, colors: ["#662483"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p24e" role="button" aria-expanded="false" aria-controls="collapse_p24e">
     e. Había muchos conflictos y violencia en el colegio (presencia de pandillas, "matoneo", bullying, consumo de alcohol y drogas, etc.)
      </a>
    </p>
    <div class="collapse" id="collapse_p24e">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p24e).having("p24e != ?", "--").having("p24e != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p24e).having("p24e != ?", "--").having("p24e != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% if (value == "si") %>
            <%valor = "Si"%>
            <% elsif (value == "no") %>
              <%valor = "No"%>
            <% elsif (value == "99") %>
              <%valor = "No Responde"%>
          <% end %>
          <% array.push([valor, (100*item/total.to_f).round(2), item]) %>  
        <%end%>
        <%= bar_chart array, colors: ["#662483"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p24f" role="button" aria-expanded="false" aria-controls="collapse_p24f">
     f. Por el maltrato de los profesores y directivos
      </a>
    </p>
    <div class="collapse" id="collapse_p24f">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p24f).having("p24f != ?", "--").having("p24f != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p24f).having("p24f != ?", "--").having("p24f != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% if (value == "si") %>
            <%valor = "Si"%>
            <% elsif (value == "no") %>
              <%valor = "No"%>
            <% elsif (value == "99") %>
              <%valor = "No Responde"%>
          <% end %>
          <% array.push([valor, (100*item/total.to_f).round(2), item]) %>  
        <%end%>
        <%= bar_chart array, colors: ["#662483"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p24g" role="button" aria-expanded="false" aria-controls="collapse_p24g">
     g. Por el maltrato de los compañeros
      </a>
    </p>
    <div class="collapse" id="collapse_p24g">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p24g).having("p24g != ?", "--").having("p24g != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p24g).having("p24g != ?", "--").having("p24g != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% if (value == "si") %>
            <%valor = "Si"%>
            <% elsif (value == "no") %>
              <%valor = "No"%>
            <% elsif (value == "99") %>
              <%valor = "No Responde"%>
          <% end %>
          <% array.push([valor, (100*item/total.to_f).round(2), item]) %>  
        <%end%>
        <%= bar_chart array, colors: ["#662483"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p24h" role="button" aria-expanded="false" aria-controls="collapse_p24h">
    h. Cerraron el colegio
      </a>
    </p>
    <div class="collapse" id="collapse_p24h">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p24h).having("p24h != ?", "--").having("p24h != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p24h).having("p24h != ?", "--").having("p24h != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% if (value == "si") %>
            <%valor = "Si"%>
            <% elsif (value == "no") %>
              <%valor = "No"%>
            <% elsif (value == "99") %>
              <%valor = "No Responde"%>
          <% end %>
          <% array.push([valor, (100*item/total.to_f).round(2), item]) %>  
        <%end%>
        <%= bar_chart array, colors: ["#662483"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p24i" role="button" aria-expanded="false" aria-controls="collapse_p24i">
    h. Cerraron el colegio
      </a>
    </p>
    <div class="collapse" id="collapse_p24i">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p24i).having("p24i != ?", "--").having("p24i != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p24i).having("p24i != ?", "--").having("p24i != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% if (value == "si") %>
            <%valor = "Si"%>
            <% elsif (value == "no") %>
              <%valor = "No"%>
            <% elsif (value == "99") %>
              <%valor = "No Responde"%>
          <% end %>
          <% array.push([valor, (100*item/total.to_f).round(2), item]) %>  
        <%end%>
        <%= bar_chart array, colors: ["#662483"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p24j" role="button" aria-expanded="false" aria-controls="collapse_p24j">
    j.Faltó ayuda del colegio en alimentación
      </a>
    </p>
    <div class="collapse" id="collapse_p24j">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p24j).having("p24j != ?", "--").having("p24j != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p24j).having("p24j != ?", "--").having("p24j != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% if (value == "si") %>
            <%valor = "Si"%>
            <% elsif (value == "no") %>
              <%valor = "No"%>
            <% elsif (value == "99") %>
              <%valor = "No Responde"%>
          <% end %>
          <% array.push([valor, (100*item/total.to_f).round(2), item]) %>  
        <%end%>
        <%= bar_chart array, colors: ["#662483"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p24k" role="button" aria-expanded="false" aria-controls="collapse_p24k">
    k.Faltó ayuda del colegio para los uniformes
      </a>
    </p>
    <div class="collapse" id="collapse_p24k">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p24k).having("p24k != ?", "--").having("p24k != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p24k).having("p24k != ?", "--").having("p24k != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% if (value == "si") %>
            <%valor = "Si"%>
            <% elsif (value == "no") %>
              <%valor = "No"%>
            <% elsif (value == "99") %>
              <%valor = "No Responde"%>
          <% end %>
          <% array.push([valor, (100*item/total.to_f).round(2), item]) %>  
        <%end%>
        <%= bar_chart array, colors: ["#662483"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p24l" role="button" aria-expanded="false" aria-controls="collapse_p24l">
   l.Faltó ayuda del colegio para los útiles escolares
      </a>
    </p>
    <div class="collapse" id="collapse_p24l">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p24l).having("p24l != ?", "--").having("p24l != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p24l).having("p24l != ?", "--").having("p24l != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% if (value == "si") %>
            <%valor = "Si"%>
            <% elsif (value == "no") %>
              <%valor = "No"%>
            <% elsif (value == "99") %>
              <%valor = "No Responde"%>
          <% end %>
          <% array.push([valor, (100*item/total.to_f).round(2), item]) %>  
        <%end%>
        <%= bar_chart array, colors: ["#662483"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p24m" role="button" aria-expanded="false" aria-controls="collapse_p24m">
   m.Faltó ayuda del colegio para el pago de la pensión o la matrícula
      </a>
    </p>
    <div class="collapse" id="collapse_p24m">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p24m).having("p24m != ?", "--").having("p24m != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p24m).having("p24m != ?", "--").having("p24m != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% if (value == "si") %>
            <%valor = "Si"%>
            <% elsif (value == "no") %>
              <%valor = "No"%>
            <% elsif (value == "99") %>
              <%valor = "No Responde"%>
          <% end %>
          <% array.push([valor, (100*item/total.to_f).round(2), item]) %>  
        <%end%>
        <%= bar_chart array, colors: ["#662483"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p24n" role="button" aria-expanded="false" aria-controls="collapse_p24n">
   n. Tenías dificultades con los horarios del colegio
      </a>
    </p>
    <div class="collapse" id="collapse_p24n">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p24n).having("p24n != ?", "--").having("p24n != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p24n).having("p24n != ?", "--").having("p24n != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% if (value == "si") %>
            <%valor = "Si"%>
            <% elsif (value == "no") %>
              <%valor = "No"%>
            <% elsif (value == "99") %>
              <%valor = "No Responde"%>
          <% end %>
          <% array.push([valor, (100*item/total.to_f).round(2), item]) %>  
        <%end%>
        <%= bar_chart array, colors: ["#662483"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p24o" role="button" aria-expanded="false" aria-controls="collapse_p24o">
  o. La educación del colegio era distinta a tus necesidades e intereses
      </a>
    </p>
    <div class="collapse" id="collapse_p24o">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p24o).having("p24o != ?", "--").having("p24o != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p24o).having("p24o != ?", "--").having("p24o != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% if (value == "si") %>
            <%valor = "Si"%>
            <% elsif (value == "no") %>
              <%valor = "No"%>
            <% elsif (value == "99") %>
              <%valor = "No Responde"%>
          <% end %>
          <% array.push([valor, (100*item/total.to_f).round(2), item]) %>  
        <%end%>
        <%= bar_chart array, colors: ["#662483"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p24p" role="button" aria-expanded="false" aria-controls="collapse_p24p">
  p. Te expulsaron del colegio
      </a>
    </p>
    <div class="collapse" id="collapse_p24p">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p24p).having("p24p != ?", "--").having("p24p != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p24p).having("p24p != ?", "--").having("p24p != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% if (value == "si") %>
            <%valor = "Si"%>
            <% elsif (value == "no") %>
              <%valor = "No"%>
            <% elsif (value == "99") %>
              <%valor = "No Responde"%>
          <% end %>
          <% array.push([valor, (100*item/total.to_f).round(2), item]) %>  
        <%end%>
        <%= bar_chart array, colors: ["#662483"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>

<div class="container row">
  <h4 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left;" >P25. ¿La última vez que te retiraste TEMPORALMENTE de tus estudios fue por alguna de las siguientes razones relacionadas con la ZONA en la que se ubica ese colegio?</h4>

  <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p25a" role="button" aria-expanded="false" aria-controls="collapse_p25a">
     Porque esa zona era muy insegura
      </a>
    </p>
    <div class="collapse" id="collapse_p25a">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p25a).having("p25a != ?", "--").having("p25a != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p25a).having("p25a != ?", "--").having("p25a != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% array.push([value, (100*item/total.to_f).round(2), item]) %>   
        <%end%>
        <%= bar_chart array, colors: ["#B81A5D"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p25b" role="button" aria-expanded="false" aria-controls="collapse_p25b">
     Porque el colegio quedaba lejos de tu casa
      </a>
    </p>
    <div class="collapse" id="collapse_p25b">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p25b).having("p25b != ?", "--").having("p25b != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p25b).having("p25b != ?", "--").having("p25b != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% array.push([value, (100*item/total.to_f).round(2), item]) %>   
        <%end%>
        <%= bar_chart array, colors: ["#B81A5D"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p25c" role="button" aria-expanded="false" aria-controls="collapse_p25c">
     Porque en esa zona ocurren con frecuencia desastres naturales (inundaciones, derrumbes, etc.)
      </a>
    </p>
    <div class="collapse" id="collapse_p25c">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p25c).having("p25c != ?", "--").having("p25c != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p25c).having("p25c != ?", "--").having("p25c != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% array.push([value, (100*item/total.to_f).round(2), item]) %>   
        <%end%>
        <%= bar_chart array, colors: ["#B81A5D"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  </div>

  <div class="container row">
    <div class="col-sm-12">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p25d" role="button" aria-expanded="false" aria-controls="collapse_p25d">
     Por otra razón relacionada con la zona donde se ubica el colegio. ¿Cuál?
      </a>
    </p>
    <div class="collapse" id="collapse_p25d">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p25d).having("p25d != ?", "--").having("p25d != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p25d).having("p25d != ?", "--").having("p25d != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% array.push([value, (100*item/total.to_f).round(2), item]) %>   
        <%end%>
        <%= bar_chart array, colors: ["#B81A5D"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>
  </div>

  <div class="container row">
  <h4 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left;" >P26. ¿La última vez que te retiraste temporalmente de tus estudios fue por alguna de las siguientes razones relacionadas con tu FAMILIA?</h4>

  <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p26a" role="button" aria-expanded="false" aria-controls="collapse_p26a">
     Había problemas de plata en tu casa
      </a>
    </p>
    <div class="collapse" id="collapse_p26a">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p26a).having("p26a != ?", "--").having("p26a != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p26a).having("p26a != ?", "--").having("p26a != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% array.push([value, (100*item/total.to_f).round(2), item]) %>   
        <%end%>
        <%= bar_chart array, colors: ["#B81A5D"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p26b" role="button" aria-expanded="false" aria-controls="collapse_p26b">
     Querías o necesitabas trabajar
      </a>
    </p>
    <div class="collapse" id="collapse_p26b">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p26b).having("p26b != ?", "--").having("p26b != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p26b).having("p26b != ?", "--").having("p26b != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% array.push([value, (100*item/total.to_f).round(2), item]) %>   
        <%end%>
        <%= bar_chart array, colors: ["#B81A5D"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p26c" role="button" aria-expanded="false" aria-controls="collapse_p26c">
     Debías encargarte de los oficios del hogar o cuidar a algún familiar
      </a>
    </p>
    <div class="collapse" id="collapse_p26c">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p26c).having("p26c != ?", "--").having("p26c != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p26c).having("p26c != ?", "--").having("p26c != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% array.push([value, (100*item/total.to_f).round(2), item]) %>   
        <%end%>
        <%= bar_chart array, colors: ["#B81A5D"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>
  </div>

  <div class="container row">

    <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p26d" role="button" aria-expanded="false" aria-controls="collapse_p26d">
     Tu familia tenía conflictos con el colegio
      </a>
    </p>
    <div class="collapse" id="collapse_p26d">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p26d).having("p26d != ?", "--").having("p26d != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p26d).having("p26d != ?", "--").having("p26d != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% array.push([value, (100*item/total.to_f).round(2), item]) %>   
        <%end%>
        <%= bar_chart array, colors: ["#B81A5D"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p26e" role="button" aria-expanded="false" aria-controls="collapse_p26e">
     Para tu familia era poco importante que estudiaras
      </a>
    </p>
    <div class="collapse" id="collapse_p26e">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p26e).having("p26e != ?", "--").having("p26e != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p26e).having("p26e != ?", "--").having("p26e != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% array.push([value, (100*item/total.to_f).round(2), item]) %>   
        <%end%>
        <%= bar_chart array, colors: ["#B81A5D"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p26f" role="button" aria-expanded="false" aria-controls="collapse_p26f">
     Tu familia cambió de casa por el trabajo de tus padres o acudientes
      </a>
    </p>
    <div class="collapse" id="collapse_p26f">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p26f).having("p26f != ?", "--").having("p26f != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p26f).having("p26f != ?", "--").having("p26f != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% array.push([value, (100*item/total.to_f).round(2), item]) %>   
        <%end%>
        <%= bar_chart array, colors: ["#B81A5D"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  </div>

  <div class="container row">

    <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p26g" role="button" aria-expanded="false" aria-controls="collapse_p26g">
     Tu hogar fue víctima de conflicto armado
      </a>
    </p>
    <div class="collapse" id="collapse_p26g">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p26g).having("p26g != ?", "--").having("p26g != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p26g).having("p26g != ?", "--").having("p26g != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% array.push([value, (100*item/total.to_f).round(2), item]) %>   
        <%end%>
        <%= bar_chart array, colors: ["#B81A5D"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

    <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p26h" role="button" aria-expanded="false" aria-controls="collapse_p26h">
     Se murió algún familiar
      </a>
    </p>
    <div class="collapse" id="collapse_p26h">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p26h).having("p26h != ?", "--").having("p26h != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p26h).having("p26h != ?", "--").having("p26h != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% array.push([value, (100*item/total.to_f).round(2), item]) %>   
        <%end%>
        <%= bar_chart array, colors: ["#B81A5D"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

    <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p26i" role="button" aria-expanded="false" aria-controls="collapse_p26i">
     Tu familia cambio de lugar de país, departamento, municipio o localidad
      </a>
    </p>
    <div class="collapse" id="collapse_p26i">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p26i).having("p26i != ?", "--").having("p26i != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p26i).having("p26i != ?", "--").having("p26i != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% array.push([value, (100*item/total.to_f).round(2), item]) %>   
        <%end%>
        <%= bar_chart array, colors: ["#B81A5D"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  </div>

  <div class="container row">

    <div class="col-sm-12">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p26j" role="button" aria-expanded="false" aria-controls="collapse_p26j">
     Por otra razón relacionada con tu familia ¿Cuál?
      </a>
    </p>
    <div class="collapse" id="collapse_p26j">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p26j).having("p26j != ?", "--").having("p26j != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p26j).having("p26j != ?", "--").having("p26j != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% array.push([value, (100*item/total.to_f).round(2), item]) %>   
        <%end%>
        <%= bar_chart array, colors: ["#B81A5D"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  </div>

   <div class="container row">
  <h4 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left;" >P27. ¿La última vez que te retiraste temporalmente de tus estudios fue por alguna de las siguientes razones personales?</h4>

  <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p27a" role="button" aria-expanded="false" aria-controls="collapse_p27a">
     Porque ibas a ser padre o madre
      </a>
    </p>
    <div class="collapse" id="collapse_p27a">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p27a).having("p27a != ?", "--").having("p27a != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p27a).having("p27a != ?", "--").having("p27a != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% array.push([value, (100*item/total.to_f).round(2), item]) %>   
        <%end%>
        <%= bar_chart array, colors: ["#B81A5D"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

   <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p27b" role="button" aria-expanded="false" aria-controls="collapse_p27b">
     Por enfermedad
      </a>
    </p>
    <div class="collapse" id="collapse_p27b">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p27b).having("p27b != ?", "--").having("p27b != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p27b).having("p27b != ?", "--").having("p27b != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% array.push([value, (100*item/total.to_f).round(2), item]) %>   
        <%end%>
        <%= bar_chart array, colors: ["#B81A5D"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p27c" role="button" aria-expanded="false" aria-controls="collapse_p27c">
     Sentías que necesitabas educación especial
      </a>
    </p>
    <div class="collapse" id="collapse_p27c">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p27c).having("p27c != ?", "--").having("p27c != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p27c).having("p27c != ?", "--").having("p27c != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% array.push([value, (100*item/total.to_f).round(2), item]) %>   
        <%end%>
        <%= bar_chart array, colors: ["#B81A5D"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  </div>

  <div class="container row">

    <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p27d" role="button" aria-expanded="false" aria-controls="collapse_p27d">
     No te gustaba el estudio o no querías estudiar
      </a>
    </p>
    <div class="collapse" id="collapse_p27d">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p27d).having("p27d != ?", "--").having("p27d != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p27d).having("p27d != ?", "--").having("p27d != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% array.push([value, (100*item/total.to_f).round(2), item]) %>   
        <%end%>
        <%= bar_chart array, colors: ["#B81A5D"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p27e" role="button" aria-expanded="false" aria-controls="collapse_p27e">
     Considerabas que los estudios que tenías ya eran suficientes
      </a>
    </p>
    <div class="collapse" id="collapse_p27e">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p27e).having("p27e != ?", "--").having("p27e != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p27e).having("p27e != ?", "--").having("p27e != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% array.push([value, (100*item/total.to_f).round(2), item]) %>   
        <%end%>
        <%= bar_chart array, colors: ["#B81A5D"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="col-sm-4">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p27f" role="button" aria-expanded="false" aria-controls="collapse_p27f">
     Tenías dificultades académicas (pérdida de cursos, atraso de logros, dificultades en alguna asignatura, dificultades para aprender, etc.)
      </a>
    </p>
    <div class="collapse" id="collapse_p27f">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p27f).having("p27f != ?", "--").having("p27f != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p27f).having("p27f != ?", "--").having("p27f != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% array.push([value, (100*item/total.to_f).round(2), item]) %>   
        <%end%>
        <%= bar_chart array, colors: ["#B81A5D"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  </div>

  <div class="container row">

    <div class="col-sm-6">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p27g" role="button" aria-expanded="false" aria-controls="collapse_p27g">
     Estabas interesado en ingresar al SENA, tener educación no formal o formación para el trabajo
      </a>
    </p>
    <div class="collapse" id="collapse_p27g">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p27g).having("p27g != ?", "--").having("p27g != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p27g).having("p27g != ?", "--").having("p27g != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% array.push([value, (100*item/total.to_f).round(2), item]) %>   
        <%end%>
        <%= bar_chart array, colors: ["#B81A5D"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div class="col-sm-6">
    <p>
      <a class="pregunta" data-toggle="collapse" href="#collapse_p27h" role="button" aria-expanded="false" aria-controls="collapse_p27h">
     Otra razón, ¿cuál?
      </a>
    </p>
    <div class="collapse" id="collapse_p27h">
      <div class="card card-body">
        <% total  = 0 %>
        <% Estudiante.group(:p27h).having("p27h != ?", "--").having("p27h != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p27h).having("p27h != ?", "--").having("p27h != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% array.push([value, (100*item/total.to_f).round(2), item]) %>   
        <%end%>
        <%= bar_chart array, colors: ["#B81A5D"] , suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
      </div>
    </div>
    <br>
  </div>

  </div>




  <p>
    <a class="pregunta" data-toggle="collapse" href="#collapse_p28" role="button" aria-expanded="false" aria-controls="collapse_p28">
      P28. ¿Por qué razones volviste a estudiar?
    </a>
  </p>
  <div class="collapse" id="collapse_p28">
    <div class="card card-body">
      <% total  = 0 %>
        <% Estudiante.group(:created_at).count(:id).each do |value,item|%>
          <% total = total + item %>
        <%end%>

        <% array = [] %>
        <% Estudiante.group(:p28_1).where(p28_1: "1").having("p28_1 != ?", "--").having("p28_1 != ?", "").count(:id).each do |value,item|%>
          <% array.push(["Para superarme", (100*item/total.to_f).round(2), item]) %>
        <%end%>
        <% Estudiante.group(:p28_2).where(p28_2: "1").having("p28_2 != ?", "--").having("p28_2 != ?", "").count(:id).each do |value,item|%>
          <% array.push(["Porque quiero terminar de estudiar", (100*item/total.to_f).round(2), item]) %>
        <%end%>
        <% Estudiante.group(:p28_3).where(p28_3: "1").having("p28_3 != ?", "--").having("p28_3 != ?", "").count(:id).each do |value,item|%>
          <% array.push(["Consegui cupo", (100*item/total.to_f).round(2), item]) %>
        <%end%>
        <% Estudiante.group(:p28_4).where(p28_4: "1").having("p28_4 != ?", "--").having("p28_4 != ?", "").count(:id).each do |value,item|%>
          <% array.push(["Por motivación de mis amigos y familia", (100*item/total.to_f).round(2), item]) %>
        <%end%>
        <% Estudiante.group(:p28_5).where(p28_5: "1").having("p28_5 != ?", "--").having("p28_5 != ?", "").count(:id).each do |value,item|%>
          <% array.push(["Para mejorar mi calidad de vida", (100*item/total.to_f).round(2), item]) %>
        <%end%>
        <% Estudiante.group(:p28_6).where(p28_6: "1").having("p28_6 != ?", "--").having("p28_6 != ?", "").count(:id).each do |value,item|%>
          <% array.push(["Otra", (100*item/total.to_f).round(2), item]) %>
        <%end%>
    
        <% array = array.sort {|a,b| b[1] <=> a[1]} %>
        <%= bar_chart array, suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
    </div>
  </div>
  <br>

  <p>
    <a class="pregunta" data-toggle="collapse" href="#collapse_p30" role="button" aria-expanded="false" aria-controls="collapse_p30">
      P30. ¿Cuánto tiempo llevas estudiando en este colegio...?
    </a>
  </p>
  <div class="collapse" id="collapse_p30">
    <div class="card card-body">
      <% total  = 0 %>
        <% Estudiante.group(:p30).having("p30 != ?", "--").having("p30 != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p30).having("p30 != ?", "--").having("p30 != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% if (value == "1") %>
            <%valor = "1 año o menos"%>
            <% elsif (value == "2") %>
              <%valor = "2 años"%>
            <% elsif (value == "3") %>
              <%valor = "3 años"%>
            <% elsif (value == "4") %>
              <%valor = "4 años"%>
            <% elsif (value == "5") %>
              <%valor = "5 años"%>
            <% elsif (value == "6") %>
              <%valor = "6 años o más"%>      
          <% end %>
          <% array.push([valor, (100*item/total.to_f).round(2), item]) %>  
        <%end%>
        <%= pie_chart array, suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
    </div>
  </div>
  <br>

  <p>
    <a class="pregunta" data-toggle="collapse" href="#collapse_p30a" role="button" aria-expanded="false" aria-controls="collapse_p30a">
      p30Aa. ¿Quién realizó tu inscripción para solicitar cupo?
    </a>
  </p>
  <div class="collapse" id="collapse_p30a">
    <div class="card card-body">
      <% total  = 0 %>
        <% Estudiante.group(:p30a).having("p30a != ?", "--").having("p30a != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p30a).having("p30a != ?", "--").having("p30a != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% if (value == "1") %>
            <%valor = "Papá o mamá (padrastro o madrastra)"%>
            <% elsif (value == "2") %>
              <%valor = "Hermanos mayores"%>
            <% elsif (value == "3") %>
              <%valor = "Otros familiares"%>
            <% elsif (value == "4") %>
              <%valor = "Otras personas no parientes"%>
            <% elsif (value == "5") %>
              <%valor = "Tú"%>
            <% elsif (value == "6") %>
              <%valor = "No recuerdas"%>      
          <% end %>
          <% array.push([valor, (100*item/total.to_f).round(2), item]) %>  
        <%end%>
        <%= pie_chart array, suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
    </div>
  </div>
  <br>

  <p>
    <a class="pregunta" data-toggle="collapse" href="#collapse_p30b" role="button" aria-expanded="false" aria-controls="collapse_p30b">
     P30b. ¿Por cuál medio realizaron la inscripción?
    </a>
  </p>
  <div class="collapse" id="collapse_p30b">
    <div class="card card-body">
      <% total  = 0 %>
        <% Estudiante.group(:p30b).having("p30b != ?", "--").having("p30b != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p30b).having("p30b != ?", "--").having("p30b != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% if (value == "1") %>
            <%valor = "Por página web"%>
            <% elsif (value == "2") %>
              <%valor = "De forma presencial"%>
            <% elsif (value == "3") %>
              <%valor = "No recuerdas"%>      
          <% end %>
          <% array.push([valor, (100*item/total.to_f).round(2), item]) %>  
        <%end%>
        <%= pie_chart array, suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
    </div>
  </div>
  <br>

  <p>
    <a class="pregunta" data-toggle="collapse" href="#collapse_p30c" role="button" aria-expanded="false" aria-controls="collapse_p30c">
     P30c. ¿Consideras que obtener un cupo en esta institución educativa fue…?
    </a>
  </p>
  <div class="collapse" id="collapse_p30c">
    <div class="card card-body">
      <% total  = 0 %>
        <% Estudiante.group(:p30c).having("p30c != ?", "--").having("p30c != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
        <% total = total + item %>
        <%end%>
        <% array = [] %>
        <% Estudiante.group(:p30c).having("p30c != ?", "--").having("p30c != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% if (value == "1") %>
            <%valor = "Muy fácil"%>
            <% elsif (value == "2") %>
              <%valor = "Fácil"%>
            <% elsif (value == "3") %>
              <%valor = "Difícil"%> 
            <% elsif (value == "4") %>
              <%valor = "Muy Difícil"%> 
            <% elsif (value == "5") %>
              <%valor = "No sabes"%>      
          <% end %>
          <% array.push([valor, (100*item/total.to_f).round(2), item]) %>  
        <%end%>
        <%= pie_chart array, suffix: "%" %>
        <br>
        <div style="text-align: center;">
        <table class="table table-bordered" style="width: 80%; text-align: center;">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" style="text-align: center;">Valor</th>
                  <th scope="col" style="text-align: center;">Cantidad</th>
                  <th scope="col" style="text-align: center;">%</th>
                </tr>
              </thead>
              <tbody>
        <% array.each do |p| %>
               <tr style="text-align: center;">
                <th scope="row" style="text-align: center;"><%=p[0]%></th>
                <td style="text-align: center;"><%=p[2]%></td>
                <td style="text-align: center;"><%=p[1]%></td>
              </tr>  
        <%end%>
              </tbody>
        </table>
        </div>
    </div>
  </div>  
  <br>


<div class="hidden">
<table>
  <thead>
    <tr>
      <th>P1</th>
      <th>P2</th>
      <th>P3</th>
      <th>P4</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estudiantes.each do |estudiante| %>
      <tr>
        <td><%= estudiante.p1 %></td>
        <td><%= estudiante.p2 %></td>
        <td><%= estudiante.p3 %></td>
        <td><%= link_to 'Show', estudiante %></td>
        <td><%= link_to 'Edit', edit_estudiante_path(estudiante) %></td>
        <td><%= link_to 'Destroy', estudiante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% link_to 'New Estudiante', new_estudiante_path %>
</div>