<style>
@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,500,700&display=swap');
</style>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://kit.fontawesome.com/1f7411956b.js"></script>
<div class="container">

  <h1 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >Gráficos Estudiantes</h1>

  <br>

    <div class="container">
      <h3 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left;" >P1. Por Grado</h3>

      <% total  = 0 %>
      <% Estudiante.group(:p1).having("p1 != ?", "--").having("p1 != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% total = total + item %>
      <%end%>
      <% array = [] %>
      <% Estudiante.group(:p1).having("p1 != ?", "--").having("p1 != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% array.push([value, (100*item/total.to_f).round(2)]) %>   
      <%end%>
      <%= bar_chart array, colors: ["#42B598"] , suffix: "%" %>

      <br>
    </div>

    <div class="container">
      <h3 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left;" >P2. Por Género</h3>

      <% total  = 0 %>
      <% Estudiante.group(:p2).having("p2 != ?", "--").having("p2 != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% total = total + item %>
      <%end%>
      <% array = [] %>
      <% Estudiante.group(:p2).having("p2 != ?", "--").having("p2 != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% valor = "" %>
          <% if (value == "2") %>
            <%valor = "Femenino"%>
          <% else %>
            <%valor = "Masculino"%>
          <% end %>
          <% array.push([valor, (100*item/total.to_f).round(2)]) %>   
      <%end%>

      <%= bar_chart array, colors: ["#E84E0F"] , suffix: "%" %>

      <br>
    </div>

    <div class="container hidden">
      <h3 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left;" >P4. Con quien Vives</h3>

        <% array = [] %>
        <% array.push(["Papa", Estudiante.group(:p4_1).having("p4_1 != ?", "--").having("p4_1 != ?", "").count]) %> 
        <% array.push(["Padrastro", Estudiante.group(:p4_2).having("p4_2 != ?", "--").having("p4_2 != ?", "").count]) %> 
        <% array.push(["Mamá", Estudiante.group(:p4_3).having("p4_3 != ?", "--").having("p4_3 != ?", "").count]) %> 
        <% array.push(["Madrastra", Estudiante.group(:p4_4).having("p4_4 != ?", "--").having("p4_4 != ?", "").count]) %>  
        <% array.push(["Herman@s", Estudiante.group(:p4_5).having("p4_5 != ?", "--").having("p4_5 != ?", "").count]) %>  
        <% array.push(["Prim@s", Estudiante.group(:p4_6).having("p4_6 != ?", "--").having("p4_6 != ?", "").count]) %>  
        <% array.push(["Tí@s", Estudiante.group(:p4_7).having("p4_7 != ?", "--").having("p4_7 != ?", "").count]) %>  
        <% array.push(["Abuel@s", Estudiante.group(:p4_8).having("p4_8 != ?", "--").having("p4_8 != ?", "").count]) %>  
        <% array.push(["Tue espos@", Estudiante.group(:p4_9).having("p4_9 != ?", "--").having("p4_9 != ?", "").count]) %>  
        <% array.push(["Tus hij@s", Estudiante.group(:p4_10).having("p4_10 != ?", "--").having("p4_10 != ?", "").count]) %>  
        <% array.push(["Otros Familiares", Estudiante.group(:p4_11).having("p4_11 != ?", "--").having("p4_11 != ?", "").count]) %> 
        <% array.push(["Otros no Parientes", Estudiante.group(:p4_12).having("p4_12 != ?", "--").having("p4_12 != ?", "").count]) %>  
        <% array.push(["Sol@", Estudiante.group(:p4_13).having("p4_13 != ?", "--").having("p4_13 != ?", "").count]) %>  

        <%= bar_chart array, colors: ["#E84E0F"] , suffix: "%" %>
      <br>
    </div>

      <div class="container">
      <h3 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left;" >P7. ¿Siempre has vivido en Bogotá?</h3>

      <% total  = 0 %>
      <% Estudiante.group(:p7).having("p7 != ?", "--").having("p7 != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% total = total + item %>
      <%end%>
      <% array = [] %>
      <% Estudiante.group(:p7).having("p7 != ?", "--").having("p7 != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% array.push([value, (100*item/total.to_f).round(2)]) %>   
      <%end%>

      <%= bar_chart array, colors: ["#E84E0F"] , suffix: "%" %>

      <br>
      </div>

      <div class="container">
        <h3 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left;" >P7C. ¿Cuál fue la principal razón por la que cambiaste de municipio, ciudad, departamento, país?</h3>

          <% total  = 0 %>
          <% Estudiante.group(:p7b).having("p7b != ?", "--").having("p7b != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% total = total + item %>
          <%end%>
          <% array = [] %>
          <% Estudiante.group(:p7b).having("p7b != ?", "--").having("p7b != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
              <% valor = "" %>
            <% if (value == "1") %>
              <%valor = "Porque había problemas de plata en la familia"%>
            <% elsif (value == "2") %>
              <%valor = "Por problemas de plata (no encontraba trabajo)"%>
            <% elsif (value == "3") %>
              <%valor = "Por desastre natural (inundación, avalancha, terremoto, etc. )"%>
            <% elsif (value == "4") %>
              <%valor = "Por la situación de desplazamiento por conflicto armado interno"%>
            <% elsif (value == "5") %>
              <%valor = "Porque tu familia o tú fueron víctimas de desplazamiento forzado"%>
            <% elsif (value == "6") %>
              <%valor = "Por oportunidades de educación"%>
            <% elsif (value == "7") %>
              <%valor = "Por motivos de salud"%>
            <% elsif (value == "8") %>
              <%valor = "Por problemas sociopoliticos de mi pais (ej; crisis en Venezuela)"%>
            <% elsif (value == "9") %>
              <%valor = "Por separación de tus padres"%>
            <% elsif (value == "10") %>
              <%valor = "Por separación de tu cónyuge o pareja permanente"%>
            <% elsif (value == "11") %>
              <%valor = "Otra"%>
            <% end %>
            <% array.push([valor, (100*item/total.to_f).round(2)]) %>   
          <%end%>

          <%= pie_chart array , suffix: "%" %>
          <br>
      </div>

      <div class="container">
        <h3 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left;" >P9. ¿Alguna de las personas que vive contigo tiene alguna discapacidad (es ciega, sorda, usa silla de ruedas de manera permanente, tiene discapacidad intelectual, etc.)?</h3>

          <% total  = 0 %>
          <% Estudiante.group(:p9).having("p9 != ?", "--").having("p9 != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% total = total + item %>
          <%end%>
          <% array = [] %>
          <% Estudiante.group(:p9).having("p9 != ?", "--").having("p9 != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
              <% array.push([value, (100*item/total.to_f).round(2)]) %>   
          <%end%>

          <%= bar_chart array, colors: ["#E84E0F"] , suffix: "%" %>
          <br>
      </div>

      <div class="container">
        <h3 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left;" >P10. ¿Antes de iniciar la primaria, ... estuviste en algún jardín?</h3>

          <% total  = 0 %>
          <% Estudiante.group(:p10).having("p10 != ?", "--").having("p10 != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
          <% total = total + item %>
          <%end%>
          <% array = [] %>
          <% Estudiante.group(:p10).having("p10 != ?", "--").having("p10 != ?", "").order('COUNT(id) DESC').count(:id).each do |value,item|%>
              <% array.push([value, (100*item/total.to_f).round(2)]) %>   
          <%end%>

          <%= bar_chart array, suffix: "%" %>
          <br>
      </div>

      <div class="container">
      <h3 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left;" >P12. Has perdido algún curso (año)?</h3>

      <%= bar_chart Estudiante.group(:p12).having("p12 != ?", "--").having("p12 != ?", "").count, xtitle: "Cantidad"%>
      <br>
      </div>

      <div class="container">
      <h3 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left;" >P13. Cuando tienes dificultades academicas en tu colegio.....</h3>

      <div class="col-sm-4">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >a. Se establece un plan de mejoramiento/recuperación con tus padres o acudientes y el maestro de manera oportuna</h6>

      <%= bar_chart Estudiante.group(:p13a).having("p13a != ?", "--").having("p13a != ?", "").count, xtitle: "Cantidad", colors: ["#889B77"]%>
      <br>
      </div>

      <div class="col-sm-4">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >b. Se establece un plan de mejoramiento/recuperación solamente con el maestro</h6>

      <%= bar_chart Estudiante.group(:p13b).having("p13b != ?", "--").having("p13b != ?", "").count, xtitle: "Cantidad", colors: ["#889B77"]%>
      <br>
      </div>

      <div class="col-sm-4">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >c. Tus padres o acudientes están pendientes del plan de mejoramiento/recuperación y el apoyo que necesitas</h6>

      <%= bar_chart Estudiante.group(:p13c).having("p13c != ?", "--").having("p13c != ?", "").count, xtitle: "Cantidad", colors: ["#889B77"]%>
      <br>
      </div>

      <div class="col-sm-4" style="margin-top: 20px;">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >d. Los docentes u otras personas del colegio están pendientes del plan de recuperación y te apoyan cuando lo necesitas</h6>

      <%= bar_chart Estudiante.group(:p13d).having("p13d != ?", "--").having("p13d != ?", "").count, xtitle: "Cantidad", colors: ["#889B77"]%>
      <br>
      </div>

      <div class="col-sm-4" style="margin-top: 20px;">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >e. Tus compañeros de clase están pendientes de tu plan de mejoramiento/recuperación y te apoyan cuando lo necesitas</h6>

      <%= bar_chart Estudiante.group(:p13e).having("p13e != ?", "--").having("p13e != ?", "").count, xtitle: "Cantidad", colors: ["#889B77"]%>
      <br>
      </div>

      <div class="col-sm-4" style="margin-top: 20px;">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >f. Te entregan un plan de mejoramiento/recuperación a tiempo</h6>

      <%= bar_chart Estudiante.group(:p13f).having("p13f != ?", "--").having("p13f != ?", "").count, xtitle: "Cantidad", colors: ["#889B77"]%>
      <br>
      </div>
      </div>

      <div class="container">
      <h3 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left;" >P14. ¿Qué aspecto(s) influye(n) en tus problemas de aprendizaje y reprobación escolar?</h3>

      <div class="col-sm-4">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >a. Falta de concentración; me disperso fácilmente</h6>

      <%= bar_chart Estudiante.group(:p14a).having("p14a != ?", "--").having("p14a != ?", "").count, xtitle: "Cantidad", colors: ["#B81A5D"]%>
      <br>
      </div>

      <div class="col-sm-4">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >b. Falta de organización y responsabilidad en el cumplimiento de los deberes escolares</h6>

      <%= bar_chart Estudiante.group(:p14b).having("p14b != ?", "--").having("p14b != ?", "").count, xtitle: "Cantidad", colors: ["#B81A5D"]%>
      <br>
      </div>

      <div class="col-sm-4">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >c. Me intereso más en otras cosas que no tienen que ver con el estudio</h6>

      <%= bar_chart Estudiante.group(:p14c).having("p14c != ?", "--").having("p14c != ?", "").count, xtitle: "Cantidad", colors: ["#B81A5D"]%>
      <br>
      </div>

      <div class="col-sm-4">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >d. Considero que el estudio es importante para tener una vida exitosa</h6>

      <%= bar_chart Estudiante.group(:p14d).count, xtitle: "Cantidad", colors: ["#B81A5D"]%>
      <br>
      </div>

      <div class="col-sm-4">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >e. La manera como algunos docentes explican y evalúan los temas</h6>

      <%= bar_chart Estudiante.group(:p14e).having("p14e != ?", "--").having("p14e != ?", "").count, xtitle: "Cantidad", colors: ["#B81A5D"]%>
      <br>
      </div>

      <div class="col-sm-4">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >f. Falta mayor seguimiento y acompañamiento de mis padres o acudientes en mi desempeño académico</h6>

      <%= bar_chart Estudiante.group(:p14f).having("p14f != ?", "--").having("p14f != ?", "").count, xtitle: "Cantidad", colors: ["#B81A5D"]%>
      <br>
      </div>

      <div class="col-sm-4">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >g. Mi comportamiento es adecuado durante el desarrollo de las clases</h6>

      <%= bar_chart Estudiante.group(:p14g).having("p14g != ?", "--").having("p14g != ?", "").count, xtitle: "Cantidad", colors: ["#B81A5D"]%>
      <br>
      </div>

      <div class="col-sm-4">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >h. Falta de apoyo de docentes, coordinadores y orientadores del colegio</h6>

      <%= bar_chart Estudiante.group(:p14h).having("p14h != ?", "--").having("p14h != ?", "").count, xtitle: "Cantidad", colors: ["#B81A5D"]%>
      <br>
      </div>

      <div class="col-sm-4">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >i. Las clases son aburridas y poco motivantes</h6>

      <%= bar_chart Estudiante.group(:p14i).having("p14i != ?", "--").having("p14i != ?", "").count, xtitle: "Cantidad", colors: ["#B81A5D"]%>
      <br>
      </div>
      </div>

      <div class="col-sm-4" style="margin-top: 20px;">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >e. Tus compañeros de clase están pendientes de tu plan de mejoramiento/recuperación y te apoyan cuando lo necesitas</h6>

      <%= bar_chart Estudiante.group(:p13e).having("p13e != ?", "--").having("p13e != ?", "").count, xtitle: "Cantidad", colors: ["#889B77"]%>
      <br>
      </div>

      <div class="col-sm-4" style="margin-top: 20px;">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >f. Te entregan un plan de mejoramiento/recuperación a tiempo</h6>

      <%= bar_chart Estudiante.group(:p13f).having("p13f != ?", "--").having("p13f != ?", "").count, xtitle: "Cantidad", colors: ["#889B77"]%>
      <br>
      </div>
      </div>

      <div class="container">
      <h3 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left;" >P16. Afirmaciones</h3>

      <div class="col-sm-4">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >a. ¿Conoces el sistema de evaluación de la institución educativa?</h6>

      <%= bar_chart Estudiante.group(:p16a).having("p16a != ?", "--").having("p16a != ?", "").count, xtitle: "Cantidad", colors: ["#D3D800"]%>
      <br>
      </div>

      <div class="col-sm-4">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >b. ¿Consideras que es clara la forma en que te evaluan en cada materia o asignatura?</h6>

      <%= bar_chart Estudiante.group(:p16b).having("p16b != ?", "--").having("p16b != ?", "").count, xtitle: "Cantidad", colors: ["#D3D800"]%>
      <br>
      </div>

      <div class="col-sm-4">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >c. ¿Los profesores explican al inicio del periodo cómo y qué cosas van a calificar/evaluar?</h6>

      <%= bar_chart Estudiante.group(:p16c).having("p16c != ?", "--").having("p16c != ?", "").count, xtitle: "Cantidad", colors: ["#D3D800"]%>
      <br>
      </div>

      <div class="col-sm-4">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >d. ¿El docente respeta la forma de evaluacion acordada y socializada al inicio del año o de cada periodo?</h6>

      <%= bar_chart Estudiante.group(:p16d).having("p16d != ?", "--").having("p16d != ?", "").count, xtitle: "Cantidad", colors: ["#D3D800"]%>
      <br>
      </div>

      <div class="col-sm-4">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >e. ¿La forma de evaluar de los docentes es acorde a lo aprendido y realizado en clase?</h6>

      <%= bar_chart Estudiante.group(:p16e).having("p16e != ?", "--").having("p16e != ?", "").count, xtitle: "Cantidad", colors: ["#D3D800"]%>
      <br>
      </div>

      <div class="col-sm-4">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >f. ¿El docente o director de grupo te pregunta cómo te sientes con la forma en que te evalúan?</h6>

      <%= bar_chart Estudiante.group(:p16f).having("p16f != ?", "--").having("p16f != ?", "").count, xtitle: "Cantidad", colors: ["#D3D800"]%>
      <br>
      </div>

      <div class="col-sm-4">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >g. ¿Tú y tus compañeros participan en la construcción de la nota definitiva? (auto- evaluación y co-evaluación)</h6>

      <%= bar_chart Estudiante.group(:p16g).having("p16g != ?", "--").having("p16g != ?", "").count, xtitle: "Cantidad", colors: ["#D3D800"]%>
      <br>
      </div>
      </div>

      <div class="container">
      <h3 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left; text-align: center;" >P17 ¿Alguna vez te has retirado de estudiar?</h3>

      <%= pie_chart Estudiante.group(:p17).having("p17 != ?", "--").having("p17 != ?", "").count, xtitle: "Cantidad", donut: true, colors: ["#662483", "#009640", "#F18700"]%>
      <br>
      </div>


      <div class="container">
      <h3 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left; text-align: center;" >P18. La última vez que te retiraste de estudiar, ¿en qué mes te retiraste?</h3>

      <%= column_chart Estudiante.group(:p18).having("p18 != ?", "--").having("p18 != ?", "").count, xtitle: "Meses"%>
      <br>
      </div>

      <div class="container">
      <h3 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left;" >P20. La última vez que se retiró de estudiar:</h3>

      <div class="col-sm-4">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >...pasaste el año pero no te matriculaste en el siguiente</h6>

      <%= bar_chart Estudiante.group(:p20a).having("p20a != ?", "--").having("p20a != ?", "").count, xtitle: "Cantidad", colors: ["#E84E0F"]%>
      <br>
      </div>

      <div class="col-sm-4">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >...perdiste el año y no te matriculaste al siguiente año</h6>

      <%= bar_chart Estudiante.group(:p20b).having("p20b != ?", "--").having("p20b != ?", "").count, xtitle: "Cantidad", colors: ["#E84E0F"]%>
      <br>
      </div>

      <div class="col-sm-4">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >...dejaste de estudiar antes de terminar el año</h6>

      <%= bar_chart Estudiante.group(:p20c).having("p20c != ?", "--").having("p20c != ?", "").count, xtitle: "Cantidad", colors: ["#E84E0F"]%>
      <br>
      </div>
      </div>


      <div class="container">
      <h3 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left;" >P24. ¿La última vez que te retiraste TEMPORALMENTE de tus estudios fue por alguna de las siguientes razones relacionadas con ese COLEGIO?</h3>

      <div class="row">
      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >a. El colegio no tenía todos los cursos hasta once</h6>

      <%= bar_chart Estudiante.group(:p24a).having("p24a != ?", "--").having("p24a != ?", "").count, xtitle: "Cantidad", colors: ["#662483"]%>
      <br>
      </div>

      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >b. Faltaban profesores</h6>

      <%= bar_chart Estudiante.group(:p24b).having("p24b != ?", "--").having("p24b != ?", "").count, xtitle: "Cantidad", colors: ["#662483"]%>
      <br>
      </div>

      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >c. La forma como enseñaban los profesores era aburrida</h6>

      <%= bar_chart Estudiante.group(:p24c).having("p24c != ?", "--").having("p24c != ?", "").count, xtitle: "Cantidad", colors: ["#662483"]%>
      <br>
      </div>

      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >d. Las instalaciones del colegio eran desagradables</h6>

      <%= bar_chart Estudiante.group(:p24d).having("p24d != ?", "--").having("p24d != ?", "").count, xtitle: "Cantidad", colors: ["#662483"]%>
      <br>
      </div>
      </div>

      <div class="row">
      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >e. Había muchos conflictos y violencia en el colegio (presencia de pandillas, "matoneo", bullying, consumo de alcohol y drogas, etc.)</h6>

      <%= bar_chart Estudiante.group(:p24e).having("p24e != ?", "--").having("p24e != ?", "").count, colors: ["#662483"]%>
      <br>
      </div>

      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >f. Por el maltrato de los profesores y directivos</h6>

      <%= bar_chart Estudiante.group(:p24f).having("p24f != ?", "--").having("p24f != ?", "").count, colors: ["#662483"]%>
      <br>
      </div>

      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >g. Por el maltrato de los compañeros</h6>

      <%= bar_chart Estudiante.group(:p24g).having("p24g != ?", "--").having("p24g != ?", "").count, colors: ["#662483"]%>
      <br>
      </div>

      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >h. Cerraron el colegio</h6>

      <%= bar_chart Estudiante.group(:p24h).having("p24h != ?", "--").having("p24h != ?", "").count, colors: ["#662483"]%>
      <br>
      </div>
      </div>

      <div class="row">
      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >i.Faltó ayuda del colegio en transporte</h6>

      <%= bar_chart Estudiante.group(:p24i).having("p24i != ?", "--").having("p24i != ?", "").count, colors: ["#662483"]%>
      <br>
      </div>

      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >j.Faltó ayuda del colegio en alimentación</h6>

      <%= bar_chart Estudiante.group(:p24j).having("p24j != ?", "--").having("p24j != ?", "").count, colors: ["#662483"]%>
      <br>
      </div>

      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >k.Faltó ayuda del colegio para los uniformes</h6>

      <%= bar_chart Estudiante.group(:p24k).having("p24k != ?", "--").having("p24k != ?", "").count, colors: ["#662483"]%>
      <br>
      </div>

      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >l.Faltó ayuda del colegio para los útiles escolares</h6>

      <%= bar_chart Estudiante.group(:p24l).having("p24l != ?", "--").having("p24l != ?", "").count, colors: ["#662483"]%>
      <br>
      </div>
      </div>

      <div class="row">
      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >m.Faltó ayuda del colegio para el pago de la pensión o la matrícula</h6>

      <%= bar_chart Estudiante.group(:p24m).having("p24m != ?", "--").having("p24m != ?", "").count, colors: ["#662483"]%>
      <br>
      </div>

      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >n. Tenías dificultades con los horarios del colegio</h6>

      <%= bar_chart Estudiante.group(:p24n).having("p24n != ?", "--").having("p24n != ?", "").count, colors: ["#662483"]%>
      <br>
      </div>

      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >o. La educación del colegio era distinta a tus necesidades e intereses</h6>

      <%= bar_chart Estudiante.group(:p24o).having("p24o != ?", "--").having("p24o != ?", "").count, colors: ["#662483"]%>
      <br>
      </div>

      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >p. Te expulsaron del colegio</h6>

      <%= bar_chart Estudiante.group(:p24p).having("p24p != ?", "--").having("p24p != ?", "").count, colors: ["#662483"]%>
      <br>
      </div>
      </div>
      </div>


      <div class="container">
      <h3 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left; text-align: center;" >P30. ¿Cuánto tiempo llevas estudiando en este colegio...? (años)</h3>

      <%= pie_chart Estudiante.group(:p30).having("p30 != ?", "--").having("p30 != ?", "").count, donut: true, colors: ["#009640", "#F18700", "#662483", "#B81A5D", "#42B598", "#D3D800"]%>
      <br>
      </div>


      <div class="container">
      <h3 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left;" >P31. ¿En qué medio te desplazas y cuánto tiempo te demoras para venir al colegio?</h3>

      <div class="col-sm-6">

        <h4 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >¿En qué medio te desplazas principalmente?</h4>

      <%= column_chart Estudiante.group(:p31a).having("p31a != ?", "--").having("p31a != ?", "").count, xtitle: "Medio de transporte", colors: ["#42B598"]%>
      <br>
      </div>

      <div class="col-sm-6">

        <h4 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >¿Cuánto tiempo te demoras?</h4>

      <%= pie_chart Estudiante.group(:p31b).having("p31b != ?", "--").having("p31b != ?", "").count, donut: true, colors: ["#B81A5D", "#662483", "#D3D800", "#E84E0F", "#554596", "#FFED00"]%>
      <br>
      </div>
      </div>


      <div class="container">
      <h3 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left;" >P32. ¿En el último año has participado en alguno de los siguientes programas o recibido alguno de los siguientes beneficios?:</h3>

      <div class="row">
      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >a. Alimentación escolar (desayuno, almuerzo, refrigerio, etc.)</h6>

      <%= column_chart Estudiante.group(:p32a).having("p32a != ?", "--").having("p32a != ?", "").count, colors: ["#4A99C6"]%>
      <br>
      </div>

      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >b. Programa de movilidad escolar (subsidio de transporte, ruta, al colegio en bici, etc.)</h6>

      <%= column_chart Estudiante.group(:p32b).having("p32b != ?", "--").having("p32b != ?", "").count, colors: ["#4A99C6"]%>
      <br>
      </div>

      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >c. Kits escolares</h6>

      <%= column_chart Estudiante.group(:p32c).having("p32c != ?", "--").having("p32c != ?", "").count, colors: ["#4A99C6"]%>
      <br>
      </div>

      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >d. Gratuidad total en matrícula y pensión</h6>

      <%= column_chart Estudiante.group(:p32d).having("p32d != ?", "--").having("p32d != ?", "").count, colors: ["#4A99C6"]%>
      <br>
      </div>
      </div>


      <div class="row">
      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >e. Ayuda cuando tenías dificultades con alguna materia</h6>

      <%= column_chart Estudiante.group(:p32e).having("p32e != ?", "--").having("p32e != ?", "").count, colors: ["#4A99C6"]%>
      <br>
      </div>

      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >f. Apoyo en orientación psicológica o apoyo psicosocial</h6>

      <%= column_chart Estudiante.group(:p32f).having("p32f != ?", "--").having("p32f != ?", "").count, colors: ["#4A99C6"]%>
      <br>
      </div>

      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >g. Participación en procesos de inclusión educativa</h6>

      <%= column_chart Estudiante.group(:p32g).having("p32g != ?", "--").having("p32g != ?", "").count, colors: ["#4A99C6"]%>
      <br>
      </div>

      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >h. Programas para mejorar la convivencia escolar y la integración de los estudiantes</h6>

      <%= column_chart Estudiante.group(:p32h).having("p32h != ?", "--").having("p32h != ?", "").count, colors: ["#4A99C6"]%>
      <br>
      </div>
      </div>

      <div class="row">
      <div class="col-sm-6">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >i. Programas de integración con la comunidad o las familias vecinas al colegio</h6>

      <%= column_chart Estudiante.group(:p32i).having("p32i != ?", "--").having("p32i != ?", "").count, colors: ["#4A99C6"]%>
      <br>
      </div>

      <div class="col-sm-6">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >j. Articulación con la educación superior y educación media fortalecida</h6>

      <%= column_chart Estudiante.group(:p32j).having("p32j != ?", "--").having("p32j != ?", "").count, colors: ["#4A99C6"]%>
      <br>
      </div>
      </div>
      </div>

      <div class="container">
      <h3 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left; text-align: center;" >P36. ¿Te has sentido discriminado en el colegio?</h3>

      <%= pie_chart Estudiante.group(:p36).having("p36 != ?", "--").having("p36 != ?", "").count, donut: true, colors: ["#F18700", "#B81A5D", "#42B598", "#D3D800"]%>
      <br>
      </div>


      <div class="container">
      <h3 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left;" >P37. ¿Qué tan satisfecho te sientes con los siguientes aspectos del colegio?</h3>

      <div class="row">
      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >a. Las instalaciones físicas (salones, bibliotecas, patio, etc.)</h6>

      <%= bar_chart Estudiante.group(:p37a).having("p37a != ?", "--").having("p37a != ?", "").count, xtitle: "Cantidad", colors: ["#E30613"]%>
      <br>
      </div>

      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >b. Las formas como enseñan los profesores</h6>

      <%= bar_chart Estudiante.group(:p37b).having("p37b != ?", "--").having("p37b != ?", "").count, xtitle: "Cantidad", colors: ["#E30613"]%>
      <br>
      </div>

      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >c. El estímulo en el uso de nuevas tecnologías (computadores, internet, etc.)</h6>

      <%= bar_chart Estudiante.group(:p37c).having("p37c != ?", "--").having("p37c != ?", "").count, xtitle: "Cantidad", colors: ["#E30613"]%>
      <br>
      </div>

      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >d. Los compañeros de estudio</h6>

      <%= bar_chart Estudiante.group(:p37d).having("p37d != ?", "--").having("p37d != ?", "").count, xtitle: "Cantidad", colors: ["#E30613"]%>
      <br>
      </div>
      </div>

      <div class="row text-center">
      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >e. El colegio en general</h6>

      <%= bar_chart Estudiante.group(:p37e).having("p37e != ?", "--").having("p37e != ?", "").count, colors: ["#E30613"]%>
      <br>
      </div>
      </div>

      <div class="container">
      <h3 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: left;" >P38. Señala con qué frecuencia en este año</h3>

      <div class="row">
      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >a. Recibiste ayuda de tu familia para pagar los gastos del colegio (pensión, útiles, uniformes, etc.)</h6>

      <%= column_chart Estudiante.group(:p38a).having("p38a != ?", "--").having("p38a != ?", "").count, xtitle: "", colors: ["#009640"]%>
      <br>
      </div>

      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >b. Recibiste ayuda de tu familia en la realización de trabajos o tareas</h6>

      <%= column_chart Estudiante.group(:p38b).having("p38b != ?", "--").having("p38b != ?", "").count, xtitle: "", colors: ["#009640"]%>
      <br>
      </div>

      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >c. Recibiste motivación de tu familia para asistir al colegio</h6>

      <%= column_chart Estudiante.group(:p38c).having("p38c != ?", "--").having("p38c != ?", "").count, xtitle: "", colors: ["#009640"]%>
      <br>
      </div>

      <div class="col-sm-3">

        <h6 style="font-family: 'Heebo', sans-serif; color: #254064; text-align: center;" >d. Tuviste el tiempo suficiente para hacer tareas y estudiar</h6>

      <%= column_chart Estudiante.group(:p38d).having("p38d != ?", "--").having("p38d != ?", "").count, xtitle: "", colors: ["#009640"]%>
      <br>
      </div>
      </div>









</div>







<div class="hidden">
<table>
  <thead>
    <tr>
      <th>P1</th>
      <th>P2</th>
      <th>P3</th>
      <th>P4</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estudiantes.each do |estudiante| %>
      <tr>
        <td><%= estudiante.p1 %></td>
        <td><%= estudiante.p2 %></td>
        <td><%= estudiante.p3 %></td>
        <td><%= link_to 'Show', estudiante %></td>
        <td><%= link_to 'Edit', edit_estudiante_path(estudiante) %></td>
        <td><%= link_to 'Destroy', estudiante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<% link_to 'New Estudiante', new_estudiante_path %>
