<p id="notice"><%= notice %></p>

<p>
  <strong>P1:</strong>
  <%= @estudiante.p1 %>
</p>

<p>
  <strong>P2:</strong>
  <%= @estudiante.p2 %>
</p>

<p>
  <strong>P3:</strong>
  <%= @estudiante.p3 %>
</p>

<p>
  <strong>P4:</strong>
  <%= @estudiante.p4 %>
</p>

<%= link_to 'Edit', edit_estudiante_path(@estudiante) %> |
<%= link_to 'Back', estudiantes_path %>
